.icon-button {
  background: transparent;
  border: none;
  position: relative;
  left: -32px;
  z-index: 100;
  cursor: pointer;

  fa-icon {
    color: white;
  }
}

.form-control:has(+ .icon-button) {
  flex-basis: 100%;
  flex-shrink: 0;
}
