<div class="row">
  <div class="col-md-3">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="inputApiKey">{{'app.api_key' | transloco}}</label>
        <div class="flex">
          <input [type]="passwordVisible() ? 'text' : 'password'" formControlName="apiKey" class="form-control" id="inputApiKey" />
          <button class="icon-button" (click)="togglePasswordVisibility()">
            <fa-icon [icon]="passwordFieldIcon()" size="lg" />
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
