@if (loading()) {
  <app-loader />
} @else {
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="settingContent">
        <div class="settingContent--left">
          <div class="form-group">
            <!--suppress XmlInvalidId -->
            <label for="inputApiKey" class="required">{{'app.api_key' | transloco}}</label>
            <app-toggleable-password-input inputId="inputApiKey" formControlName="apiKey" />
          </div>
          <div class="form-group">
            <label for="inputStorage">{{'app.image_storage' | transloco}}</label>
            <select class="form-control" formControlName="storage" id="inputStorage">
              @for (storage of storageNames() | keyvalue; track storage.key) {
                <option [value]="storage.key">{{storage.value}}</option>
              }
            </select>
          </div>
          <div class="form-group">
            <label for="inputHomepage">{{'app.homepage' | transloco}}</label>
            <select class="form-control" formControlName="homepage" id="inputHomepage">
              <option value="about">{{'app.about' | transloco}}</option>
              <option value="generate">{{'app.generate' | transloco}}</option>
              <option value="images">{{'app.images' | transloco}}</option>
              <option value="horde">{{'app.horde' | transloco}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputLanguage">{{'app.language' | transloco}}</label>
            <select class="form-control" formControlName="language" id="inputLanguage">
              @for (language of availableLanguages(); track language) {
                <option [value]="language">{{language | languageName}}</option>
              }
            </select>
          </div>
          <div class="form-group">
            <label for="inputFormat">{{'app.output_format' | transloco}}</label>
            <select class="form-control" formControlName="outputFormat" id="inputFormat">
              @for (format of OutputFormat | keyvalue; track format.key) {
                <option [value]="format.value">{{format.value}}</option>
              }
            </select>
            @if (form.value.outputFormat === OutputFormat.Png || form.value.outputFormat === OutputFormat.Jpeg) {
              <p>{{'app.output_format.png_info' | transloco}}</p>
            } @else {
              <p class="text-warning">{{'app.output_format.webp_info' | transloco}}</p>
            }
          </div>
          <div class="form-group" [class.highlighted]="fragment() === 'notifications'">
            <app-toggle-checkbox [description]="'app.notifications.enabled' | transloco" formControlName="notifications" />
            <p>{{'app.notifications.explanation' | transloco}}</p>

            @if (form.value.notifications) {
              <app-toggle-checkbox [description]="'app.notifications.horde_ng_news' | transloco" formControlName="notificationsHordeNgNews" />
              <app-toggle-checkbox [description]="'app.notifications.horde_news' | transloco" formControlName="notificationsHordeNews" />
              <app-toggle-checkbox [description]="'app.notifications.parties' | transloco" formControlName="notificationsParties" />
              <app-toggle-checkbox [description]="'app.notifications.marketing' | transloco" formControlName="notificationsMarketing" />
              <app-toggle-checkbox [description]="'app.notifications.others' | transloco" formControlName="notificationsOther" />
            }
          </div>
        </div>
        <div class="settingContent--right">
        @if (form.controls.storage.value === 's3') {
          @if (s3CorsCheckResult() === null) {
            <p class="text-warning">{{'app.s3_cors_check.unknown' | transloco}}</p>
          } @else if (s3CorsCheckResult() === false) {
            <p class="text-danger">
              <transloco key="app.s3_cors_check.error" [params]="{url: 'https://s3.console.aws.amazon.com/s3/bucket/' + form.controls.s3_bucket.value + '/property/cors/edit?region=' + form.controls.s3_region.value}" />
            </p>
            <div class="mb-2">
              <pre>{{s3CorsConfig() | json}}</pre>
              <app-copy-button class="mt-1 display-block" [text]="s3CorsConfig() | json">{{'app.copy_to_clipboard' | transloco}}</app-copy-button>
            </div>
          }
          <div class="form-group">
            <label for="inputS3AccessKeyId">{{'app.settings.s3.access_key' | transloco}}</label>
            <input type="text" class="form-control" formControlName="s3_accessKey" id="inputS3AccessKeyId" />
          </div>
          <div class="form-group">
            <!--suppress XmlInvalidId -->
            <label for="inputS3SecretAccessKey">{{'app.settings.s3.secret_key' | transloco}}</label>
            <app-toggleable-password-input formControlName="s3_secretKey" inputId="inputS3SecretAccessKey" />
          </div>
          <div class="form-group">
            <label for="inputRegion">{{'app.settings.s3.region' | transloco}}</label>
            <input type="text" formControlName="s3_region" class="form-control" id="inputRegion" />
          </div>
          <div class="form-group">
            <label for="inputBucket">{{'app.settings.s3.bucket' | transloco}}</label>
            <input type="text" formControlName="s3_bucket" class="form-control" id="inputBucket" />
          </div>
          <div class="form-group">
            <label for="inputS3Prefix">{{'app.settings.s3.prefix' | transloco}}</label>
            <input type="text" formControlName="s3_prefix" class="form-control" id="inputS3Prefix" />
          </div>
          <div class="form-group">
            <label for="inputS3Endpoint">{{'app.settings.s3.endpoint' | transloco}}</label>
            <input type="text" formControlName="s3_endpoint" class="form-control" id="inputS3Endpoint" />
          </div>
        } @else if (form.controls.storage.value === 'google_drive') {
          <div class="form-group">
            <label for="inputGoogleDriveClientId">{{'app.settings.google_drive.client_id' | transloco}}</label>
            <input type="text" formControlName="google_drive_client_id" class="form-control" id="inputGoogleDriveClientId" />
          </div>
          <div class="form-group">
            <!--suppress XmlInvalidId -->
            <label for="inputGoogleDriveApiKey">{{'app.settings.google_drive.api_key' | transloco}}</label>
            <app-toggleable-password-input formControlName="google_drive_api_key" inputId="inputGoogleDriveApiKey" />
          </div>
          <div class="form-group">
            <label for="inputGoogleDriveDirectory">{{'app.settings.google_drive.directory' | transloco}}</label>
            <input type="text" formControlName="google_drive_directory" class="form-control" id="inputGoogleDriveDirectory" />
          </div>

          @if (!form.value.google_drive_access_key) {

              <button
                (click)="authorizeInGoogle()"
                class="btn btn-primary"
                type="button"
                [disabled]="!form.value.google_drive_api_key || !form.value.google_drive_client_id"
              >{{'app.settings.google_drive.authorize' | transloco}}</button>

          }
        } @else if (form.controls.storage.value === 'dropbox') {
          <div class="form-group">
            <!--suppress XmlInvalidId -->
            <label for="inputDropboxAccessKey">{{'app.settings.dropbox.access_key' | transloco}}</label>
            <app-toggleable-password-input formControlName="dropbox_accessKey" inputId="inputDropboxAccessKey" />
          </div>
        }

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">{{'app.save' | transloco}}</button>

      </div>
      </div>
      </form>
    </div>
  </div>
}
