@if (performanceStatus()) {
  <app-box [title]="'app.horde.status' | transloco">
    <p>
      <transloco key="app.horde.stats" [params]="{
            requests: performanceStatus()!.queued_requests | formatNumber,
            mps: performanceStatus()!.queued_megapixelsteps | formatNumber:2,
            workers: performanceStatus()!.worker_count | formatNumber,
            threads: performanceStatus()!.thread_count | formatNumber,
          }" />
    </p>
    <p>
      <transloco key="app.horde.stats_minute" [params]="{mps: performanceStatus()!.past_minute_megapixelsteps | formatNumber}"/>
    </p>
  </app-box>
} @else {
  <app-loader />
}
