@import "../../../scss/colors";
@import "../../../scss/breakpoints";

#image-wrapper {
  width: 100%;
  border: 1px solid $borderColor;
  border-radius: 4px;
  background: $cardBackground;
  box-shadow: $shadowColor 0 0 12px 0;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;

  @include mediaMin($large) {
    min-height: calc(100vh - 220px);
  }

  @include mediaMax($large) {
    min-height: 320px;
    margin-top: 0;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    cursor: pointer;
    object-fit: contain;
  }

  a {
    width: 100%;
    display: flex;
  }

  & > div {
    padding: 20px;
    margin-top: 0;
  }

  app-loader {
    position: relative;
    top: -30px;
  }
}

.is-scrolled {
  #image-wrapper {
    @include mediaMin($large) {
      min-height: calc(100vh - 135px);
    }
  }
}

.image-parameter-result {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: top;

  p {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.image-link {
  max-height: calc(100% - 12vh);
}

.progress {
  line-height: 1.5;
}


.setWrapper {
  display: flex;
  align-items: flex-start;

  @include mediaMax($large) {
    flex-wrap: wrap;
  }

  &.is-scrolled {
    .setContainer:nth-of-type(2) {
      @include mediaMin($large) {
        top: 20px;
        min-height: calc(100vh - 40px);
        max-height: calc(100vh - 40px);
      }
    }
  }
}

.setContainer {
  width: 60%;
  padding: 20px 0 0 0;

  @include mediaMax($large) {
    width: 100%;
    flex-basis: unset;
  }

  @include mediaMax($topMenuBreakpoint) {
    padding: 0;
  }

  &:nth-of-type(1) {
    padding-right: 20px;

    @include mediaMax($large) {
      padding-right: 0;
    }
  }

  &:nth-of-type(2) {
    width: 40%;
    position: sticky;
    top: 0;
    padding: 20px;
    background: #26252d;
    margin-top: 20px;
    border-radius: 4px;

    @include mediaMin($large) {
      min-height: calc(100vh - 125px);
      max-height: calc(100vh - 125px);
    }

    &:has(img) {
      @include mediaMin($large) {
        overflow: auto;
      }
    }

    @include mediaMax($large) {
      width: 100%;
      margin-top: 0;
      margin-bottom: 20px;
    }

    @include mediaMax($small) {
      margin-bottom: 0;
    }

    &::-webkit {
      &-scrollbar {
        width: 10px;
      }

      &-scrollbar {
        &-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        &-thumb {
          background-color: white;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }
  }

  .col-md-12 {
    @include mediaMax($large) {
      width: 100%;
    }
  }

  .col-md-11 {
    @include mediaMax($large) {
      width: calc(100% - 80px);
      margin: 0 !important;
    }
  }

  .col-md-1 {
    @include mediaMax($large) {
      width: 100px;
      padding-left: 10px;
    }
  }

  .row.mb-1 {
    @include mediaMax($large) {
      margin-bottom: 10px;
    }
  }
}

.formGroup {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .col-md-6 {
    width: calc(100% / 2 - 10px);
    flex-basis: unset;

    @include mediaMax($small) {
     width: 100%;
    }

    &.stay-50 {
      width: calc(100% / 2 - 10px);
    }
  }
}

.formGroup--checks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;

  @include mediaMax($small) {
    margin-top: 10px;
  }

  .form-group {
    width: auto;
    margin-bottom: 0;
    background: transparent;
    padding: 0;
  }

  app-tooltip {
    position: relative;
    right: auto;
  }
}

.flex-wrap.setGap {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 0;

  .btn {
    margin: 0;

    @include mediaMax($small) {
      flex-grow: 1;
    }
  }
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.loraList {
  position: relative;

  li {
    width: 100%;
    display: inline-flex;
    align-items: center;
    position: relative;
    line-height: 2;
    padding: 10px 5px;
    border-bottom: 1px solid #4c4d4f;
    list-style: none;
    margin: 0;

    &:last-child {
      border-bottom: 0;
    }

    &:first-child {
     margin-top:12px;
    }

    strong {
      max-width: 100%;
      width: 100%;
    }
  }

  p {
    @include mediaMax($large) {
      font-size: 14px;
    }

    @include mediaMax($small) {
      font-size: 12px;
    }
  }

  .btnBig {
    position: absolute;
    top: 20px;
    right: 20px;

    @include mediaMax($small) {
      top: 15px;
      right: 15px;
    }
  }

  app-tooltip {
    right: 120px;
  }

  .icon-button {
    position: absolute;
    right: 7px;
  }

  .ng-fa-icon {
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    //background: white;
  }

  button.icon-button {
    background: #232323;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    padding: 0;

    &:nth-of-type(1) {
      background: #409eff;
      margin-right: 5px;

      fa-icon {
        font-size: 12px;
      }
    }

    &:nth-of-type(2) {
      background: red;
    }

    fa-icon {
      color: white;
      font-size: 14px;
    }
  }
}
