@import "../../../scss/colors";
@import "../../../scss/breakpoints";

#image-wrapper {
  width: 100%;
  border: 1px solid $borderColor;
  border-radius: 4px;
  background: $cardBackground;
  box-shadow: $shadowColor 0 0 12px 0;
  text-align: center;
  position: relative;
  display: inline-grid;
  justify-items: center;
  align-items: flex-start;

  @include mediaMin($large) {
    min-height: calc(100vh - 220px);
  }

  @include mediaMax($large) {
    min-height: 320px;
    margin-top: 0;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    cursor: pointer;
    object-fit: contain;
  }

  a {
    width: 100%;
    display: flex;
  }

  app-loader {
    width: 100%;
    position: relative;
    top: 80px;
  }

  .progress {
    width: 100%;
  }
}

.is-scrolled {
  #image-wrapper {
    @include mediaMin($large) {
      min-height: calc(100vh - 135px);
    }
  }
}

.image-parameter-result {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  opacity: 0;
  pointer-events: none;

  p {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;

    @include mediaMax($small) {
      font-size: 12px;
    }

    span {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 100%;
      height: auto;
      opacity: 1;
      text-align: center;
      margin-bottom: 7px;
      padding: 0 10px;
      color: #ffffff;

      &.generatedBy {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 11px;
        text-align: center;
        padding: 5px 10px;
        background: #252525;

        @include mediaMax($large) {
          padding: 10px 50px 10px 10px;
          text-align: left;
        }
      }

      svg {
        width: 100%;
        max-width: 24px;
        max-height: 24px;
        margin-left: 5px;
        stroke: #ffffff;
        cursor: pointer;
      }
    }
  }

  &.is-open {
    @include mediaMax($large) {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.image-result {
  display: flex;
  width: auto;
  position: absolute;
  z-index: 11;
  top: calc(50% + 10px);
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  transition: 0.200s ease-in-out;
  gap: 10px;

  &.is-open {
    @include mediaMax($large) {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.mobile-result {
  display: none;

  @include mediaMax($large) {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 12;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #ffffff;
    padding: 5px;
  }

  &.is-open {
    svg {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(2) {
        display: block;
      }
    }
  }

  svg {
    width: 28px;
    height: 28px;
    fill: #ffffff;
    align-self: center;

    &:nth-child(1) {
      display: block;
    }
    &:nth-child(2) {
      display: none;
    }
  }
}

.image-link {
  max-height: calc(100% - 12vh);
}

.progress {
  line-height: 1.5;
}


.setWrapper {
  display: flex;
  align-items: flex-start;

  @include mediaMax($large) {
    flex-wrap: wrap;
  }

  &.is-scrolled {
    .setContainer:nth-of-type(2) {
      @include mediaMin($large) {
        top: 20px;
        min-height: calc(100vh - 40px);
        max-height: calc(100vh - 40px);
      }
    }

    .swiper {
      .swiper-slide {
        height: calc(100vh - 237px);

        @include mediaMax($large) {
          height: 450px;
        }

        @include mediaMax($small) {
          height: 400px;
        }
      }
    }

    .swiper-thumbs {
      .swiper-slide {
        height: 90px;
      }
    }
  }
}

.setContainer {
  width: 60%;
  padding: 20px 0 0 0;

  @include mediaMax($extraLarge) {
    width: 55%;
  }

  @include mediaMax($large) {
    width: 100%;
    flex-basis: unset;
  }

  @include mediaMax($topMenuBreakpoint) {
    padding: 0;
  }

  &:nth-of-type(1) {
    padding-right: 20px;

    @include mediaMax($large) {
      padding-right: 0;
    }

    @include mediaMax($small) {
      padding-top: 17vw;
    }

  }

  &:nth-of-type(2) {
    width: 40%;
    position: sticky;
    top: 0;
    padding: 20px;
    background: #26252d;
    margin-top: 20px;
    border-radius: 4px;

    @include mediaMin($large) {
      min-height: calc(100vh - 125px);
      max-height: calc(100vh - 125px);
    }

    @include mediaMax($extraLarge) {
      width: 45%;
    }

    //&:has(img) {
    //  @include mediaMin($large) {
    //    overflow: auto;
    //  }
    //}

    @include mediaMax($large) {
      width: 100%;
      margin-top: 0;
      margin-bottom: 105px;
    }

    @include mediaMax($small) {
      margin-bottom: 0;
    }

    &::-webkit {
      &-scrollbar {
        width: 10px;
      }

      &-scrollbar {
        &-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        &-thumb {
          background-color: white;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }

     .buttonGroup {
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: space-between;
       gap: 10px;
       width: 100%;
       margin-bottom: 10px;

       @include mediaMax($large) {
         margin-bottom: 0;
         position: fixed;
         padding: 20px;
         background: #26252d;
         bottom: 0;
         left: 0;
         z-index: 1000;
       }

       @include mediaMax($small) {
         bottom: auto;
         top: 0;
         padding: 4vw;
         gap: 2vw;
       }

       .btn {
         max-width: 75px;
         min-width: 75px;
         flex-grow: 1;

         @include mediaMax($small) {
           max-width: 18vw;
           min-width: 18vw;
           padding-top: 2vw;
           padding-bottom: 2vw;
         }

         &:nth-child(2) {
           width: auto;
           max-width: unset;
           min-width: unset;
         }
       }
     }
  }

  .col-md-12 {
    @include mediaMax($large) {
      width: 100%;
    }
  }

  .col-md-11 {
    @include mediaMax($large) {
      width: calc(100% - 80px);
      margin: 0 !important;
    }
  }

  .col-md-1 {
    @include mediaMax($large) {
      width: 100px;
      padding-left: 10px;
    }

    &.mr-05 {
      padding-left: 0;
    }
  }

  .row.mb-1 {
    @include mediaMax($large) {
      margin-bottom: 10px;
    }
  }
}

.formGroup {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .col-md-6 {
    width: calc(100% / 2 - 10px);
    flex-basis: unset;

    @include mediaMax($small) {
     width: 100%;
    }

    &.stay-50 {
      width: calc(100% / 2 - 10px);
    }
  }
}

.formGroup--checks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;

  @include mediaMax($small) {
    margin-top: 10px;
  }

  .form-group {
    width: auto;
    margin-bottom: 0;
    background: transparent;
    padding: 0;
  }

  app-tooltip {
    position: relative;
    right: auto;
  }
}

.flex-wrap.setGap {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 0;

  .btn {
    margin: 0;

    @include mediaMax($small) {
      flex-grow: 1;
    }
  }
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.loraList {
  position: relative;

  li {
    width: 100%;
    display: inline-flex;
    align-items: center;
    position: relative;
    line-height: 2;
    padding: 10px 5px;
    border-bottom: 1px solid #4c4d4f;
    list-style: none;
    margin: 0;

    &:last-child {
      border-bottom: 0;
    }

    &:first-child {
     margin-top:12px;
    }

    strong {
      max-width: 100%;
      width: 100%;
    }
  }

  p {
    @include mediaMax($large) {
      font-size: 14px;
    }

    @include mediaMax($small) {
      font-size: 12px;
    }
  }

  .btnBig {
    position: absolute;
    top: 20px;
    right: 20px;

    @include mediaMax($small) {
      top: 15px;
      right: 15px;
    }
  }

  app-tooltip {
    right: 120px;
  }

  .icon-button {
    position: absolute;
    right: 7px;
  }

  .ng-fa-icon {
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    //background: white;
  }

  button.icon-button {
    background: #232323;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    padding: 0;

    &:nth-of-type(1) {
      background: $primaryColor;
      margin-right: 5px;

      fa-icon {
        font-size: 12px;
      }
    }

    &:nth-of-type(2) {
      background: $dangerColor;
    }

    fa-icon {
      color: white;
      font-size: 14px;
    }
  }
}
