@if (loading()) {
  <app-loader/>
} @else {
  <form [formGroup]="form" (ngSubmit)="generateImage()">
    <div class="row setWrapper">
      <div class="setContainer">
        <div class="form-group">
          <label for="inputPrompt">{{ 'app.generate.prompt' | transloco }} <app-tooltip [text]="'app.generate.help.prompt' | transloco" /></label>
          <textarea required type="text" class="form-control" formControlName="prompt" id="inputPrompt" auto-grow></textarea>
          <div class="flex-wrap setGap">
            <button type="button" class="btn" (click)="openModal(styleModal)">{{'app.generate.use_style' | transloco}}</button>
            <button type="button" class="btn btn-danger" [disabled]="chosenStyle() === null" (click)="chosenStyle.set(null)">{{'app.generate.cancel_style' | transloco}}</button>
            <button type="button" class="btn" [disabled]="chosenStyle() === null" (click)="applyStyleDirectly()">{{'app.generate.apply_style_directly' | transloco}}</button>
          </div>
          <ng-template #styleModal>
            <app-prompt-style-modal
              [originalPrompt]="form.value.prompt!"
              [originalNegativePrompt]="form.value.negativePrompt || null"
              (styleChosen)="applyStyle($event)"
            />
          </ng-template>
          <app-effective-value [value]="modifiedOptions()?.prompt" [original]="form.value.prompt" />
        </div>
        <div class="form-group">
          <label for="inputNegativePrompt">{{ 'app.generate.negative_prompt' | transloco }} <app-tooltip [text]="'app.generate.help.negative_prompt' | transloco" /></label>
          <textarea type="text" class="form-control" formControlName="negativePrompt" id="inputNegativePrompt" auto-grow></textarea>
          <app-effective-value [value]="modifiedOptions()?.negativePrompt" [original]="form.value.negativePrompt" />
        </div>
        <div class="form-group">
          <label for="inputModel">{{ 'app.generate.model' | transloco }} <app-tooltip [text]="'app.generate.help.model' | transloco" /></label>
          <select id="inputModel" formControlName="model" required tom-select [maxItems]="1" [maxOptions]="null">
            @for (item of groupedModels() | keyvalue; track item.key) {
              <optgroup [label]="item.key">
                @for (model of item.value; track model.name) {
                  <option [value]="model.name">
                    {{ model.name }}
                    @if (model.tags) {
                      ({{'app.generate.tags' | transloco}}: {{model.tags.join(', ')}})
                    }
                    ({{'app.generate.workers_count' | transloco}}: {{liveModelDetails()[model.name]}})
                  </option>
                }
              </optgroup>
            }
            @if (customModels().length) {
              <optgroup [label]="'app.generate.custom_models' | transloco">
                @for (model of customModels(); track model.name) {
                  <option [value]="model.name">
                    {{ model.name }} ({{'app.generate.workers_count' | transloco}}: {{liveModelDetails()[model.name]}})
                  </option>
                }
              </optgroup>
            }
          </select>
          @if (currentModelDetail()?.baseline === BaselineModel.StableCascade) {
            <p class="text-warning">{{'app.generate.no_commercial' | transloco}}</p>
          }
          @if (validationErrors().length) {
            <p class="text-warning">{{'app.generate.validation.errors' | transloco}}</p>
            <ul class="text-warning">
              @for (error of validationErrors(); track error) {
                <li>
                  @if (error === OptionsValidationError.ClipSkip) {
                    {{'app.generation.validation.clip_skip' | transloco:{expected: currentModelDetail()!.requirements!.clip_skip!} }}
                  } @else if (error === OptionsValidationError.Karras) {
                    {{'app.generation.validation.karras' | transloco}}
                  } @else if (error === OptionsValidationError.Sampler) {
                    {{'app.generation.validation.samplers' | transloco:{expected: currentModelDetail()!.requirements!.samplers!.join(', ')} }}
                  } @else if (error === OptionsValidationError.Steps) {
                    {{'app.generation.validation.steps' | transloco:{min: currentModelDetail()!.requirements!.min_steps, max: currentModelDetail()!.requirements!.max_steps} }}
                  } @else if (error === OptionsValidationError.CfgScale) {
                    {{'app.generation.validation.cfg_scale' | transloco:{expected: currentModelDetail()!.requirements!.cfg_scale!} }}
                  }
                </li>
              }
            </ul>
          }
          @if (!availableModels()[effectiveModel()]) {
            <p class="text-warning">{{'app.warning.custom_model' | transloco}}</p>
          }
          <app-effective-value [value]="modifiedOptions()?.model" [original]="form.value.model" />
          @if (effectiveModel() && availableModels()[effectiveModel()]) {
            <small>
              <strong>{{'app.model.baseline' | transloco}}</strong>: {{availableModels()[effectiveModel()].baseline}}<br>
              <strong>{{'app.model.description' | transloco}}</strong>: {{availableModels()[effectiveModel()].description}}<br>
              @if (availableModels()[effectiveModel()].showcases) {
                <strong>{{'app.model.examples' | transloco}}</strong>:
                @for (showcase of availableModels()[effectiveModel()].showcases; track showcase) {
                  <a href="{{showcase}}" target="_blank">{{'app.model.example_number' | transloco:{number: $index + 1} }}</a>
                  @if (!$last) {, }
                }
                <br>
              }
              <strong>{{'app.model.style' | transloco}}</strong>: {{availableModels()[effectiveModel()].style}}<br>
              <strong>{{'app.model.nsfw' | transloco}}</strong>: <app-yes-no [value]="availableModels()[effectiveModel()].nsfw" /><br>
              @if (availableModels()[effectiveModel()].tags) {
                <strong>{{'app.model.tags' | transloco}}</strong>: {{availableModels()[effectiveModel()].tags!.join(', ')}}<br>
              }
              @if (availableModels()[effectiveModel()].trigger) {
                <strong>{{'app.model.trigger' | transloco}}</strong>: {{availableModels()[effectiveModel()].trigger}}<br>
              }
            </small>
          }
        </div>

        <div class="row formGroup">
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputSampler">{{ 'app.generate.sampler' | transloco }} <app-tooltip [text]="'app.generate.help.sampler' | transloco" /></label>
              <select id="inputSampler" tom-select [maxItems]="1" formControlName="sampler" required>
                @for (enumCase of Sampler | keyvalue; track enumCase.key) {
                  <option [value]="enumCase.value">{{ enumCase.value }}</option>
                }
              </select>
              <app-effective-value [value]="modifiedOptions()?.sampler" [original]="form.value.sampler" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <!--suppress XmlInvalidId -->
              <label for="inputAmount">
                {{'app.generate.amount' | transloco}}
                <app-tooltip [text]="'app.generate.help.amount' | transloco" />
              </label>
              <app-slider-with-value [min]="1" [max]="20" [step]="1" formControlName="amount" inputId="inputAmount" />
            </div>
          </div>
        </div>
        <div class="row formGroup">
          <div class="col-md-6">
            <div class="form-group">
              <!--suppress XmlInvalidId -->
              <label for="inputSteps">{{ 'app.generate.steps' | transloco }} <app-tooltip [text]="'app.generate.help.steps' | transloco" /></label>
              <app-slider-with-value [min]="1" [max]="500" [step]="1" formControlName="steps" inputId="inputSteps" />
              <app-effective-value [value]="modifiedOptions()?.steps" [original]="form.value.steps" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <!--suppress XmlInvalidId -->
              <label for="inputClipSkip">{{ 'app.generate.clip_skip' | transloco }} <app-tooltip [text]="'app.generate.help.clip_skip' | transloco" /></label>
              <app-slider-with-value [min]="1" [max]="12" [step]="1" formControlName="clipSkip" inputId="inputClipSkip" />
            </div>
          </div>
        </div>
        <div class="row formGroup">
          <div class="col-md-6 stay-50">
            <div class="form-group">
              <label for="inputWidth">{{ 'app.generate.width' | transloco }} <app-tooltip [text]="'app.generate.help.width' | transloco" /></label>
              <input type="number" min="64" max="3072" step="64" formControlName="width" id="inputWidth"
                     class="form-control"/>
              <app-effective-value [value]="modifiedOptions()?.width" [original]="form.value.width" />
            </div>
          </div>
          <div class="col-md-6 stay-50">
            <div class="form-group">
              <label for="inputHeight">{{ 'app.generate.height' | transloco }} <app-tooltip [text]="'app.generate.help.height' | transloco" /></label>
              <input type="number" min="64" max="3072" step="64" formControlName="height" id="inputHeight"
                     class="form-control"/>
              <app-effective-value [value]="modifiedOptions()?.height" [original]="form.value.height" />
            </div>
          </div>
        </div>

        <div class="form-group loraList">
          <label>{{'app.generate.lora_list' | transloco}} <app-tooltip [text]="'app.generate.help.lora_list' | transloco" /></label>
          <button [disabled]="(form.value.loraList?.length ?? 0) >= 5" class="btn btnBig" type="button"
                  (click)="openModal(addLoraModal)">{{'app.generate.add_loras' | transloco}}</button>
          <ng-template #addLoraModal>
            <app-lora-selector [selectedLoras]="form.value.loraList ?? []" [selectedModel]="currentModelDetail()!" (loraSelected)="addLora($event)" />
          </ng-template>
          @if (modifiedOptions()?.loraList) {
            <small>
              <strong>{{'app.generate.style_effective_value' | transloco}}</strong>:
              @for (lora of modifiedOptions()!.loraList!; track lora.id) {
                <app-lora-text-row [lora]="lora" [comma]="!$last" />
              }
            </small>
          }
          @if (!form.value.loraList?.length) {
            <p>{{'app.generate.lora_list.no_loras' | transloco}}</p>
          } @else {
            <ul>
            @for (lora of form.value.loraList!; track lora.id) {
              <li>
                <strong><app-lora-text-row [lora]="lora" /></strong>
                <button (click)="openModal(editLora)" class="text-primary icon-button ml-1" type="button" [title]="'app.edit' | transloco" style="right: 40px;">
                  <fa-icon [title]="'app.edit' | transloco" [icon]="iconEdit()" size="xl" />
                </button>
                <button (click)="removeLora(lora.id)" class="text-danger icon-button ml-1" type="button" title="{{'app.delete' | transloco}}">
                  <fa-icon title="{{'app.delete' | transloco}}" [icon]="iconDelete()" size="xl" />
                </button>
                <ng-template #editLora>
                  <app-configure-lora
                    [loraName]="(lora.id | loraName:(lora.isVersionId ?? false) | async)!"
                    [versionId]="(lora.isVersionId ?? false) ? lora.id : (lora.id | loraVersionId | async)!"
                    [clipStrength]="lora.strengthClip ?? 1"
                    [modelStrength]="lora.strengthModel ?? 1"
                    (configured)="loraUpdated($event)"
                  />
                </ng-template>
              </li>
            }
            </ul>
          }
        </div>
        <div class="row formGroup">
          <div [class.col-md-6]="form.value.faceFixers?.length" [class.col-md-12]="!form.value.faceFixers?.length">
            <div class="form-group">
              <label for="inputFaceFixers">{{'app.generate.face_fixers' | transloco}} <app-tooltip [text]="'app.generate.help.face_fixers' | transloco" /></label>
              <select id="inputFaceFixers" multiple tom-select formControlName="faceFixers">
                @for (enumCase of PostProcessor | keyvalue; track enumCase.key) {
                  @if (enumCase.value | isFaceFixer) {
                    <option [value]="enumCase.value">{{enumCase.value}}</option>
                  }
                }
              </select>
            </div>
          </div>
          @if (form.value.faceFixers?.length) {
            <div class="col-md-6">
              <div class="form-group">
                <!--suppress XmlInvalidId -->
                <label for="inputFaceFixerStrength">{{ 'app.generate.face_fixer_strength' | transloco }} <app-tooltip [text]="'app.generate.help.face_fixer_strength' | transloco" /></label>
                <app-slider-with-value [min]="0" [max]="1" [step]="0.01" formControlName="faceFixerStrength" inputId="inputFaceFixerStrength" />
              </div>
            </div>
          }
        </div>
        <div class="row formGroup">
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputUpscaler">{{'app.generate.upscaler' | transloco}} <app-tooltip [text]="'app.generate.help.upscaler' | transloco" /></label>
              <select id="inputUpscaler" tom-select formControlName="upscaler" [maxItems]="1">
                <option [value]="null">{{'app.select.empty_option' | transloco}}</option>
                @for (enumCase of PostProcessor | keyvalue; track enumCase.key) {
                  @if (enumCase.value | isUpscaler) {
                    <option [value]="enumCase.value">{{enumCase.value}}</option>
                  }
                }
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputPostProcessors">{{'app.generate.post_processors' | transloco}} <app-tooltip [text]="'app.generate.help.post_processors' | transloco" /></label>
              <select id="inputPostProcessors" multiple tom-select formControlName="genericPostProcessors">
                @for (enumCase of PostProcessor | keyvalue; track enumCase.key) {
                  @if (!(enumCase.value | isFaceFixer) && !(enumCase.value | isUpscaler)) {
                    <option [value]="enumCase.value">{{enumCase.value}}</option>
                  }
                }
              </select>
            </div>
          </div>
        </div>
        <div class="row formGroup">
          <!--          <div class="col-md-6">-->
          <!--            <div class="form-group">-->
          <!--              &lt;!&ndash;suppress XmlInvalidId &ndash;&gt;-->
          <!--              <label for="inputDenoisingStrength">{{ 'app.generate.denoising_strength' | transloco }})</label>-->
          <!--              <app-slider-with-value [min]="0.01" [max]="1" [step]="0.01" formControlName="denoisingStrength" inputId="inputDenoisingStrength" />-->
          <!--            </div>-->
          <!--          </div>-->
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputSeed">{{'app.generate.seed' | transloco}} <app-tooltip [text]="'app.generate.help.seed' | transloco" /></label>
              <input type="text" class="form-control" formControlName="seed" id="inputSeed" autocomplete="off" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <!--suppress XmlInvalidId -->
              <label for="inputCfgScale">{{ 'app.generate.cfg_scale' | transloco }} <app-tooltip [text]="'app.generate.help.cfg_scale' | transloco" /></label>
              <app-slider-with-value [min]="0" [max]="100" [step]="0.5" formControlName="cfgScale" inputId="inputCfgScale" />
              <app-effective-value [value]="modifiedOptions()?.cfgScale" [original]="form.value.cfgScale" />
            </div>
          </div>
        </div>
        <div class="row formGroup--checks">
          <div class="form-group">
            <app-toggle-checkbox [description]="'app.generate.karras' | transloco" formControlName="karras">
              <app-tooltip [text]="'app.generate.help.karras' | transloco" />
            </app-toggle-checkbox>
          </div>
          <div class="form-group">
            <app-toggle-checkbox [description]="'app.generate.hires_fix' | transloco" formControlName="hiresFix">
              <app-tooltip [text]="'app.generate.help.hires_fix' | transloco" />
            </app-toggle-checkbox>
          </div>
          <div class="form-group">
            <app-toggle-checkbox [description]="'app.generate.nsfw' | transloco" formControlName="nsfw">
              <app-tooltip [text]="'app.generate.help.nsfw' | transloco" />
            </app-toggle-checkbox>
          </div>
          <div class="form-group">
            <app-toggle-checkbox [description]="'app.generate.slow_workers' | transloco" formControlName="slowWorkers">
              <app-tooltip [text]="'app.generate.help.slow_workers' | transloco" />
            </app-toggle-checkbox>
          </div>
          <div class="form-group">
            <app-toggle-checkbox [description]="'app.generate.censor_nsfw' | transloco" formControlName="censorNsfw">
              <app-tooltip [text]="'app.generate.help.censor_nsfw' | transloco" />
            </app-toggle-checkbox>
          </div>
          <div class="form-group">
            <app-toggle-checkbox [description]="'app.generate.trusted_workers' | transloco" formControlName="trustedWorkers">
              <app-tooltip [text]="'app.generate.help.trusted_workers' | transloco" />
            </app-toggle-checkbox>
          </div>
          <div class="form-group">
            <app-toggle-checkbox [description]="'app.generate.allow_downgrade' | transloco" formControlName="allowDowngrade">
              <app-tooltip [text]="'app.generate.help.allow_downgrade' | transloco" />
            </app-toggle-checkbox>
          </div>
          <div class="form-group">
            <app-toggle-checkbox [description]="'app.generate.only_my_workers' | transloco" formControlName="onlyMyWorkers">
              <app-tooltip [text]="'app.generate.help.only_my_workers' | transloco" />
            </app-toggle-checkbox>
          </div>
        </div>
      </div>
      <div class="setContainer">
        <div class="buttonGroup">
          <button [disabled]="inProgress()" type="button" class="btn btn-danger btn-long" (click)="resetForm()">{{'app.generate.reset' | transloco}}</button>
          <button [disabled]="!form.valid || inProgress()" type="submit" class="btn btn-primary btn-long">
            @if (kudosCost() === null) {
              {{ 'app.generate.do_generate.calculating' | transloco }}
            } @else {
              {{ 'app.generate.do_generate' | transloco:{kudos: (kudosCost() ?? 0) | formatNumber} }}
            }
          </button>
          <button [disabled]="inProgress() === null" type="button" class="btn btn-danger btn-long" (click)="cancelGeneration()">{{'app.generate.cancel' | transloco}}</button>
        </div>
        <div class="row">

            <div id="image-wrapper">
              @if (result()) {
                <div class="swiper">
                  <div class="swiper-container" #swiperContainer>
                    <div class="swiper-wrapper">
                      @for (image of result(); track image) { <!-- todo track id -->
                        <div class="swiper-slide" [class.is-open]="isOpenResult">
                          <span [style.background-image]="'url(' + image.source + ')'"></span>
                          <img [src]="image.source" [width]="image.width" [height]="image.height" [alt]="'app.generated_image.alt' | transloco" />
                          <div class="mobile-result" (click)="toggleContent()" [class.is-open]="isOpenResult">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" xml:space="preserve"><path fill="#ffffff" d="M32 0c17.7 0 32 14.3 32 32S49.7 64 32 64 0 49.7 0 32 14.3 0 32 0z"/><path fill="#1c1b22" d="M16 43h32v6H16zM43 27 32 40 21 27h7V12h8v15z"/></svg>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 1C5.926 1 1 5.926 1 12s4.926 11 11 11 11-4.926 11-11S18.074 1 12 1zm5.25 14.75-1.5 1.5L12 13.5l-3.75 3.75-1.5-1.5L10.5 12 6.75 8.25l1.5-1.5L12 10.5l3.75-3.75 1.5 1.5L13.5 12z"/></svg>
                          </div>
                          <div class="image-parameter-result" [class.is-open]="isOpenResult">
                            <p>
                              <span>{{'app.generate.seed' | transloco}}: <b>{{image.seed}}</b><app-copy-button [text]="image.seed" /></span>
                              <span>{{'app.generate.result.kudos_cost' | transloco}}: <b>{{image.kudos | formatNumber}}</b></span>
                              <span>{{'app.generate.result.size' | transloco}}: {{image.width}}x{{image.height}}</span>
                              <span>{{'app.generate.model' | transloco}}: {{image.model}}</span>
                              <span>{{'app.generate.result.id' | transloco}}: {{image.id}}</span>
                              <span class="generatedBy"><transloco key="app.generate.result.generated_by" [params]="{name: image.workerName, id: image.workerId}" /></span>
                              @if (image.postProcessors) {
                                <span>{{'app.generate.post_processors' | transloco}}: {{image.postProcessors}}</span>
                              }
                            </p>
                          </div>
                          <div class="image-result" [class.is-open]="isOpenResult">
                            @if (image.censored) {
                              <p>{{'app.generate.result.censored' | transloco}}</p>
                            } @else {
                              <ng-template #imageModal>
                                <img [src]="image.source" [alt]="'app.generated_image.alt' | transloco" />
                              </ng-template>
                              <p><button type="button" class="btn btn-secondary btnBig" (click)="openModal(imageModal)">{{'app.preview' | transloco}}</button></p>
                              <p><button type="button" class="btn btn-primary btnBig" (click)="download(image)">{{'app.download' | transloco}}</button></p>
                            }
                          </div>
                        </div>
                      }
                    </div>

                  </div>
                  <div class="tSwiper--next swiper-button-next"></div>
                  <div class="tSwiper--prev swiper-button-prev"></div>
                </div>

                <div class="swiper swiper-thumbs">
                  <div class="swiper-container" #swiperThumbsContainer>
                    <div class="swiper-wrapper">

                      @for (image of result(); track image) { <!-- todo track id -->
                        <div class="swiper-slide" [style.background-image]="'url(' + image.source + ')'"></div>
                      }
                    </div>
                  </div>
                </div>

              } @else if (inProgress()) {
                <app-loader/>
                @if (requestStatus()) {
                  <div class="progress">
                    {{ 'app.generate.progress.finished' | transloco }}: {{ requestStatus()!.finished }}<br>
                    {{ 'app.generate.progress.kudos_consumed' | transloco }}: {{ requestStatus()!.kudos }}<br>
                    @if (requestStatus()!.queue_position) {
                      {{ 'app.generate.progress.queue_position' | transloco }}: {{ requestStatus()!.queue_position }}
                      <br>
                    }
                    @if (requestStatus()!.processing) {
                      {{ 'app.generate.progress.processing' | transloco }}: {{ requestStatus()!.processing }}<br>
                    }
                    @if (requestStatus()!.wait_time) {
                      {{ 'app.generate.progress.estimated_wait' | transloco }}: {{ requestStatus()!.wait_time | printSeconds | async }}
                    }
                  </div>
                }
              } @else {
                <div class="empty">{{ 'app.generate.image_placeholder' | transloco }}</div>
              }
            </div>

        </div>
      </div>
    </div>
  </form>
}
