@if (loading()) {
  <app-loader/>
} @else {
  <form [formGroup]="form" (ngSubmit)="generateImage()">
    <div class="row setWrapper">
      <div class="setContainer">
        <div class="form-group">
          <label for="inputPrompt">{{ 'app.generate.prompt' | transloco }} <app-tooltip [text]="'app.generate.help.prompt' | transloco" /></label>
          <textarea required type="text" class="form-control" formControlName="prompt" id="inputPrompt" auto-grow></textarea>
          <div class="flex-wrap setGap">
            <button type="button" class="btn" (click)="openModal(styleModal)">{{'app.generate.use_style' | transloco}}</button>
            <button type="button" class="btn btn-danger" [disabled]="chosenStyle() === null" (click)="chosenStyle.set(null)">{{'app.generate.cancel_style' | transloco}}</button>
            <button type="button" class="btn" [disabled]="chosenStyle() === null" (click)="applyStyleDirectly()">{{'app.generate.apply_style_directly' | transloco}}</button>
          </div>
          <ng-template #styleModal>
            <app-prompt-style-modal
              [originalPrompt]="form.value.prompt!"
              [originalNegativePrompt]="form.value.negativePrompt || null"
              (styleChosen)="applyStyle($event)"
            />
          </ng-template>
          <app-effective-value [value]="modifiedOptions()?.prompt" [original]="form.value.prompt" />
        </div>
        <div class="form-group">
          <label for="inputNegativePrompt">{{ 'app.generate.negative_prompt' | transloco }} <app-tooltip [text]="'app.generate.help.negative_prompt' | transloco" /></label>
          <textarea type="text" class="form-control" formControlName="negativePrompt" id="inputNegativePrompt" auto-grow></textarea>
          <app-effective-value [value]="modifiedOptions()?.negativePrompt" [original]="form.value.negativePrompt" />
        </div>
        <div class="row formGroup">
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputSeed">{{'app.generate.seed' | transloco}} <app-tooltip [text]="'app.generate.help.seed' | transloco" /></label>
              <input type="text" class="form-control" formControlName="seed" id="inputSeed" autocomplete="off" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputSampler">{{ 'app.generate.sampler' | transloco }} <app-tooltip [text]="'app.generate.help.sampler' | transloco" /></label>
              <select id="inputSampler" tom-select [maxItems]="1" formControlName="sampler" required>
                @for (enumCase of Sampler | keyvalue; track enumCase.key) {
                  <option [value]="enumCase.value">{{ enumCase.value }}</option>
                }
              </select>
              <app-effective-value [value]="modifiedOptions()?.sampler" [original]="form.value.sampler" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputModel">{{ 'app.generate.model' | transloco }} <app-tooltip [text]="'app.generate.help.model' | transloco" /></label>
          <select id="inputModel" formControlName="model" required tom-select [maxItems]="1" [maxOptions]="null">
            @for (item of groupedModels() | keyvalue; track item.key) {
              <optgroup [label]="item.key">
                @for (model of item.value; track model.name) {
                  <option [value]="model.name">
                    {{ model.name }}
                    @if (model.tags) {
                      ({{'app.generate.tags' | transloco}}: {{model.tags.join(', ')}})
                    }
                    ({{'app.generate.workers_count' | transloco}}: {{liveModelDetails()[model.name]}})
                  </option>
                }
              </optgroup>
            }
          </select>
          @if (currentModelDetail()?.baseline === BaselineModel.StableCascade) {
            <p class="text-warning">{{'app.generate.no_commercial' | transloco}}</p>
          }
          @if (validationErrors().length) {
            <p class="text-warning">{{'app.generate.validation.errors' | transloco}}</p>
            <ul class="text-warning">
              @for (error of validationErrors(); track error) {
                <li>
                  @if (error === OptionsValidationError.ClipSkip) {
                    {{'app.generation.validation.clip_skip' | transloco:{expected: currentModelDetail()!.requirements!.clip_skip!} }}
                  } @else if (error === OptionsValidationError.Karras) {
                    {{'app.generation.validation.karras' | transloco}}
                  } @else if (error === OptionsValidationError.Sampler) {
                    {{'app.generation.validation.samplers' | transloco:{expected: currentModelDetail()!.requirements!.samplers!.join(', ')} }}
                  } @else if (error === OptionsValidationError.Steps) {
                    {{'app.generation.validation.steps' | transloco:{min: currentModelDetail()!.requirements!.min_steps, max: currentModelDetail()!.requirements!.max_steps} }}
                  } @else if (error === OptionsValidationError.ModelNotFound) {
                    {{'app.generation.validation.model_not_found' | transloco }}
                  } @else if (error === OptionsValidationError.CfgScale) {
                    {{'app.generation.validation.cfg_scale' | transloco:{expected: currentModelDetail()!.requirements!.cfg_scale!} }}
                  }
                </li>
              }
            </ul>
          }
          <app-effective-value [value]="modifiedOptions()?.model" [original]="form.value.model" />
          @if (effectiveModel()) {
            <small>
              <strong>{{'app.model.baseline' | transloco}}</strong>: {{availableModels()[effectiveModel()].baseline}}<br>
              <strong>{{'app.model.description' | transloco}}</strong>: {{availableModels()[effectiveModel()].description}}<br>
              @if (availableModels()[effectiveModel()].showcases) {
                <strong>{{'app.model.examples' | transloco}}</strong>:
                @for (showcase of availableModels()[effectiveModel()].showcases; track showcase) {
                  <a href="{{showcase}}" target="_blank">{{'app.model.example_number' | transloco:{number: $index + 1} }}</a>
                  @if (!$last) {, }
                }
                <br>
              }
              <strong>{{'app.model.style' | transloco}}</strong>: {{availableModels()[effectiveModel()].style}}<br>
              <strong>{{'app.model.nsfw' | transloco}}</strong>: <app-yes-no [value]="availableModels()[effectiveModel()].nsfw" /><br>
              @if (availableModels()[effectiveModel()].tags) {
                <strong>{{'app.model.tags' | transloco}}</strong>: {{availableModels()[effectiveModel()].tags!.join(', ')}}<br>
              }
              @if (availableModels()[effectiveModel()].trigger) {
                <strong>{{'app.model.trigger' | transloco}}</strong>: {{availableModels()[effectiveModel()].trigger}}<br>
              }
            </small>
          }
        </div>
        <div class="form-group loraList">
          <label>{{'app.generate.lora_list' | transloco}} <app-tooltip [text]="'app.generate.help.lora_list' | transloco" /></label>
          <button [disabled]="(form.value.loraList?.length ?? 0) >= 5" class="btn" type="button"
                  (click)="openModal(addLoraModal)">{{'app.generate.add_loras' | transloco}}</button>
          <ng-template #addLoraModal>
            <app-lora-selector [selectedLoras]="form.value.loraList ?? []" [selectedModel]="currentModelDetail()!" (loraSelected)="addLora($event)" />
          </ng-template>
          @if (modifiedOptions()?.loraList) {
            <small>
              <strong>{{'app.generate.style_effective_value' | transloco}}</strong>:
              @for (lora of modifiedOptions()!.loraList!; track lora.id) {
                <app-lora-text-row [lora]="lora" [comma]="!$last" />
              }
            </small>
          }
          @if (!form.value.loraList?.length) {
            <p>{{'app.generate.lora_list.no_loras' | transloco}}</p>
          } @else {
            <ul>
            @for (lora of form.value.loraList!; track lora.id) {
              <li>
                <strong><app-lora-text-row [lora]="lora" /></strong>
                <button (click)="removeLora(lora.id)" class="text-danger icon-button ml-1" type="button" title="{{'app.delete' | transloco}}">
                  <fa-icon title="{{'app.delete' | transloco}}" [icon]="iconDelete()" size="2xl" />
                </button>
              </li>
            }
            </ul>
          }
        </div>
        <div class="row formGroup">
          <div [class.col-md-6]="form.value.faceFixers?.length" [class.col-md-12]="!form.value.faceFixers?.length">
            <div class="form-group">
              <label for="inputFaceFixers">{{'app.generate.face_fixers' | transloco}} <app-tooltip [text]="'app.generate.help.face_fixers' | transloco" /></label>
              <select id="inputFaceFixers" multiple tom-select formControlName="faceFixers">
                @for (enumCase of PostProcessor | keyvalue; track enumCase.key) {
                  @if (enumCase.value | isFaceFixer) {
                    <option [value]="enumCase.value">{{enumCase.value}}</option>
                  }
                }
              </select>
            </div>
          </div>
          @if (form.value.faceFixers?.length) {
            <div class="col-md-6">
              <div class="form-group">
                <!--suppress XmlInvalidId -->
                <label for="inputFaceFixerStrength">{{ 'app.generate.face_fixer_strength' | transloco }} <app-tooltip [text]="'app.generate.help.face_fixer_strength' | transloco" /></label>
                <app-slider-with-value [min]="0" [max]="1" [step]="0.01" formControlName="faceFixerStrength" inputId="inputFaceFixerStrength" />
              </div>
            </div>
          }
        </div>
        <div class="row formGroup">
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputUpscaler">{{'app.generate.upscaler' | transloco}} <app-tooltip [text]="'app.generate.help.upscaler' | transloco" /></label>
              <select id="inputUpscaler" tom-select formControlName="upscaler" [maxItems]="1">
                <option [value]="null">{{'app.select.empty_option' | transloco}}</option>
                @for (enumCase of PostProcessor | keyvalue; track enumCase.key) {
                  @if (enumCase.value | isUpscaler) {
                    <option [value]="enumCase.value">{{enumCase.value}}</option>
                  }
                }
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputPostProcessors">{{'app.generate.post_processors' | transloco}} <app-tooltip [text]="'app.generate.help.post_processors' | transloco" /></label>
              <select id="inputPostProcessors" multiple tom-select formControlName="genericPostProcessors">
                @for (enumCase of PostProcessor | keyvalue; track enumCase.key) {
                  @if (!(enumCase.value | isFaceFixer) && !(enumCase.value | isUpscaler)) {
                    <option [value]="enumCase.value">{{enumCase.value}}</option>
                  }
                }
              </select>
            </div>
          </div>
        </div>
        <div class="row formGroup">
          <div class="col-md-6 stay-50">
            <div class="form-group">
              <label for="inputWidth">{{ 'app.generate.width' | transloco }} <app-tooltip [text]="'app.generate.help.width' | transloco" /></label>
              <input type="number" min="64" max="3072" step="64" formControlName="width" id="inputWidth"
                     class="form-control"/>
              <app-effective-value [value]="modifiedOptions()?.width" [original]="form.value.width" />
            </div>
          </div>
          <div class="col-md-6 stay-50">
            <div class="form-group">
              <label for="inputHeight">{{ 'app.generate.height' | transloco }} <app-tooltip [text]="'app.generate.help.height' | transloco" /></label>
              <input type="number" min="64" max="3072" step="64" formControlName="height" id="inputHeight"
                     class="form-control"/>
              <app-effective-value [value]="modifiedOptions()?.height" [original]="form.value.height" />
            </div>
          </div>
        </div>
        <div class="row formGroup">
          <div class="col-md-6">
            <div class="form-group">
              <!--suppress XmlInvalidId -->
              <label for="inputSteps">{{ 'app.generate.steps' | transloco }} <app-tooltip [text]="'app.generate.help.steps' | transloco" /></label>
              <app-slider-with-value [min]="1" [max]="500" [step]="1" formControlName="steps" inputId="inputSteps" />
              <app-effective-value [value]="modifiedOptions()?.steps" [original]="form.value.steps" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <!--suppress XmlInvalidId -->
              <label for="inputClipSkip">{{ 'app.generate.clip_skip' | transloco }} <app-tooltip [text]="'app.generate.help.clip_skip' | transloco" /></label>
              <app-slider-with-value [min]="1" [max]="12" [step]="1" formControlName="clipSkip" inputId="inputClipSkip" />
            </div>
          </div>
        </div>
        <div class="row formGroup">
          <!--          <div class="col-md-6">-->
          <!--            <div class="form-group">-->
          <!--              &lt;!&ndash;suppress XmlInvalidId &ndash;&gt;-->
          <!--              <label for="inputDenoisingStrength">{{ 'app.generate.denoising_strength' | transloco }})</label>-->
          <!--              <app-slider-with-value [min]="0.01" [max]="1" [step]="0.01" formControlName="denoisingStrength" inputId="inputDenoisingStrength" />-->
          <!--            </div>-->
          <!--          </div>-->
          <div class="col-md-6">
            <div class="form-group">
              <!--suppress XmlInvalidId -->
              <label for="inputCfgScale">{{ 'app.generate.cfg_scale' | transloco }} <app-tooltip [text]="'app.generate.help.cfg_scale' | transloco" /></label>
              <app-slider-with-value [min]="0" [max]="100" [step]="0.5" formControlName="cfgScale" inputId="inputCfgScale" />
              <app-effective-value [value]="modifiedOptions()?.cfgScale" [original]="form.value.cfgScale" />
            </div>
          </div>
        </div>
        <div class="row formGroup--checks">
          <div class="form-group">
            <app-toggle-checkbox [description]="'app.generate.karras' | transloco" formControlName="karras">
              <app-tooltip [text]="'app.generate.help.karras' | transloco" />
            </app-toggle-checkbox>
          </div>
          <div class="form-group">
            <app-toggle-checkbox [description]="'app.generate.hires_fix' | transloco" formControlName="hiresFix">
              <app-tooltip [text]="'app.generate.help.hires_fix' | transloco" />
            </app-toggle-checkbox>
          </div>
          <div class="form-group">
            <app-toggle-checkbox [description]="'app.generate.nsfw' | transloco" formControlName="nsfw">
              <app-tooltip [text]="'app.generate.help.nsfw' | transloco" />
            </app-toggle-checkbox>
          </div>
          <div class="form-group">
            <app-toggle-checkbox [description]="'app.generate.slow_workers' | transloco" formControlName="slowWorkers">
              <app-tooltip [text]="'app.generate.help.slow_workers' | transloco" />
            </app-toggle-checkbox>
          </div>
          <div class="form-group">
            <app-toggle-checkbox [description]="'app.generate.censor_nsfw' | transloco" formControlName="censorNsfw">
              <app-tooltip [text]="'app.generate.help.censor_nsfw' | transloco" />
            </app-toggle-checkbox>
          </div>
          <div class="form-group">
            <app-toggle-checkbox [description]="'app.generate.trusted_workers' | transloco" formControlName="trustedWorkers">
              <app-tooltip [text]="'app.generate.help.trusted_workers' | transloco" />
            </app-toggle-checkbox>
          </div>
          <div class="form-group">
            <app-toggle-checkbox [description]="'app.generate.allow_downgrade' | transloco" formControlName="allowDowngrade">
              <app-tooltip [text]="'app.generate.help.allow_downgrade' | transloco" />
            </app-toggle-checkbox>
          </div>
        </div>
      </div>
      <div class="setContainer">
        <div class="row mb-1">
          <div class="col-md-11 mr-05">
            <button [disabled]="!form.valid || inProgress()" type="submit" class="btn btn-primary btn-long">
              @if (kudosCost() === null) {
                {{ 'app.generate.do_generate.calculating' | transloco }}
              } @else {
                {{ 'app.generate.do_generate' | transloco:{kudos: (kudosCost() ?? 0) | formatNumber} }}
              }
            </button>
          </div>
          <div class="col-md-1">
            <button [disabled]="inProgress() === null" type="button" class="btn btn-danger btn-long" (click)="cancelGeneration()">{{'app.generate.cancel' | transloco}}</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="image-wrapper">
              @if (result()) {
                <a href="{{result()!.source}}" target="_blank" class="image-link">
                  <img src="{{result()!.source}}"/>
                </a>
                <div class="mt-2 image-parameter-result">
                  <p>
                    <transloco key="app.generate.result.info" [params]="{
                      width: result()!.width,
                      height: result()!.height,
                      model: result()!.model,
                      seed: result()!.seed,
                      id: result()!.id,
                      workerId: result()!.workerId,
                      workerName: result()!.workerName,
                      kudosCost: result()!.kudos | formatNumber,
                      postProcessors: result()!.postProcessors,
                    }"/>
                  </p>
                  @if (result()!.censored) {
                    <p>{{'app.generate.result.censored' | transloco}}</p>
                  }
                </div>
              } @else if (inProgress()) {
                <app-loader/>
                @if (requestStatus()) {
                  <div class="mt-15 progress">
                    {{ 'app.generate.progress.finished' | transloco }}: {{ requestStatus()!.finished }}<br>
                    {{ 'app.generate.progress.kudos_consumed' | transloco }}: {{ requestStatus()!.kudos }}<br>
                    @if (requestStatus()!.queue_position) {
                      {{ 'app.generate.progress.queue_position' | transloco }}: {{ requestStatus()!.queue_position }}
                      <br>
                    }
                    @if (requestStatus()!.processing) {
                      {{ 'app.generate.progress.processing' | transloco }}: {{ requestStatus()!.processing }}<br>
                    }
                    @if (requestStatus()!.wait_time) {
                      {{ 'app.generate.progress.estimated_wait' | transloco }}: {{ requestStatus()!.wait_time | printSeconds | async }}
                    }
                  </div>
                }
              } @else {
                <div class="empty">{{ 'app.generate.image_placeholder' | transloco }}</div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
}
