@if (loading()) {
  <app-loader/>
} @else {
  <form [formGroup]="form" (ngSubmit)="generateImage()">
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label for="inputPrompt">{{ 'app.generate.prompt' | transloco }}</label>
          <input required type="text" class="form-control" formControlName="prompt" id="inputPrompt" autocomplete="off"/>
        </div>
        <div class="form-group">
          <label for="inputNegativePrompt">{{ 'app.generate.negative_prompt' | transloco }}</label>
          <input type="text" class="form-control" formControlName="negativePrompt" id="inputNegativePrompt" autocomplete="off"/>
        </div>
        <div class="form-group">
          <label for="inputSampler">{{ 'app.generate.sampler' | transloco }}</label>
          <select id="inputSampler" class="form-control" formControlName="sampler" required>
            @for (enumCase of Sampler | keyvalue; track enumCase.key) {
              <option [value]="enumCase.value">{{ enumCase.value }}</option>
            }
          </select>
        </div>
        <div class="form-group">
          <label for="inputModel">{{ 'app.generate.model' | transloco }}</label>
          <select id="inputModel" class="form-control" formControlName="model" required>
            @for (model of availableModels(); track model) {
              <option [value]="model">{{ model }}</option>
            }
          </select>
        </div>
        <div class="form-group">
          <label for="inputPostProcessors">{{'app.generate.post_processors' | transloco}}</label>
          <select id="inputPostProcessors" multiple tom-select formControlName="postProcessors">
            @for (enumCase of PostProcessor | keyvalue; track enumCase.key) {
              <option [value]="enumCase.value">{{enumCase.value}}</option>
            }
          </select>
        </div>
        <div class="form-group">
          <label for="inputWidth">{{ 'app.generate.width' | transloco }}</label>
          <input type="number" min="64" max="3072" step="64" formControlName="width" id="inputWidth"
                 class="form-control"/>
        </div>
        <div class="form-group">
          <label for="inputHeight">{{ 'app.generate.height' | transloco }}</label>
          <input type="number" min="64" max="3072" step="64" formControlName="height" id="inputHeight"
                 class="form-control"/>
        </div>
        <div class="form-group">
          <label for="inputDenoisingStrength">{{ 'app.generate.denoising_strength' | transloco }}
            ({{ form.controls.denoisingStrength.value! | formatNumber:2 }})</label>
          <input type="range" min="0.01" max="1" step="0.01" formControlName="denoisingStrength" class="form-control"
                 id="inputDenoisingStrength"/>
        </div>
        <div class="form-group">
          <label for="inputCfgScale">{{ 'app.generate.cfg_scale' | transloco }}
            ({{ form.controls.cfgScale.value! | formatNumber:1 }})</label>
          <input type="range" min="0" max="100" step="0.5" formControlName="cfgScale" class="form-control"
                 id="inputCfgScale"/>
        </div>
        <div class="form-group">
          <label for="inputSteps">{{ 'app.generate.steps' | transloco }}
            ({{ form.controls.steps.value! | formatNumber }})</label>
          <input type="range" min="1" max="500" step="1" formControlName="steps" class="form-control" id="inputSteps"/>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <button [disabled]="!form.valid || inProgress()" type="submit" class="btn btn-long">
              {{ 'app.generate.do_generate' | transloco:{kudos: kudosCost() | formatNumber:2} }}
            </button>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-md-12">
            <div id="image-wrapper">
              @if (result()) {
                <a href="{{result()!.source}}" target="_blank">
                  <img src="{{result()!.source}}"/>
                </a>
                <div class="mt-2">
                  <p>
                    <transloco key="app.generate.result.info" [params]="{
                      width: result()!.width,
                      height: result()!.height,
                      model: result()!.model,
                      seed: result()!.seed,
                      id: result()!.id,
                      workerId: result()!.workerId,
                      workerName: result()!.workerName,
                      kudosCost: result()!.kudos | formatNumber,
                      postProcessors: result()!.postProcessors,
                    }"/>
                  </p>
                  @if (result()!.censored) {
                    <p>{{'app.generate.result.censored' | transloco}}</p>
                  }
                </div>
              } @else if (inProgress()) {
                <app-loader/>
                @if (requestStatus()) {
                  <div class="mt-15 progress">
                    {{ 'app.generate.progress.finished' | transloco }}: {{ requestStatus()!.finished }}<br>
                    {{ 'app.generate.progress.kudos_consumed' | transloco }}: {{ requestStatus()!.kudos }}<br>
                    @if (requestStatus()!.queue_position) {
                      {{ 'app.generate.progress.queue_position' | transloco }}: {{ requestStatus()!.queue_position }}
                      <br>
                    }
                    @if (requestStatus()!.processing) {
                      {{ 'app.generate.progress.processing' | transloco }}: {{ requestStatus()!.processing }}<br>
                    }
                    @if (requestStatus()!.wait_time) {
                      {{ 'app.generate.progress.estimated_wait' | transloco }}: {{ requestStatus()!.wait_time | printSeconds | async }}
                    }
                  </div>
                }
              } @else {
                <div class="empty">{{ 'app.generate.image_placeholder' | transloco }}</div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
}
