@import "../../../scss/breakpoints";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  background: #1c1b22;
  transform: translate(-50%, -50%);
  transform-origin: left;
  border: #414243 1px solid;
  border-radius: 4px;
  overflow: auto;
  z-index: 2;
  padding: 15px;
  max-height: calc(100% - 40px);
  max-width: calc(100% - 40px);

  @include mediaMax($topMenuBreakpoint) {
    top: 105px;
    transform: translate(-50%, 0);
    max-height: calc(100% - 125px);
    animation: unset !important;
  }

  @include mediaMax($medium) {
    width: calc(100% - 40px) !important;
  }

  @include mediaMax($small) {
    width: calc(100% - 8vw) !important;
    top: 4vw;
    max-height: calc(100% - 23vw);
    max-width: calc(100% - 8vw);
  }

  &::-webkit {
    &-scrollbar {
      width: 10px;
    }

    &-scrollbar {
      &-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      }
      &-thumb {
        background-color: white;
      }
    }
  }
}

.modal-close {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background: white;
  z-index: 9999;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid white;

  @include mediaMax($topMenuBreakpoint) {
    top: 90px;
    right: 5px;
  }

  @include mediaMax($small) {
    top: 2vw;
    right: 2vw;
  }

  &:hover {
    svg {
      transform: scale(1.2);
    }
  }

  svg {
    width: 100%;
    max-width: 14px;
    max-height: 14px;
    fill: #1c1b22;
  }
}
