@import "../../../scss/colors";

:host {
  min-width: 100%;
  margin-bottom: 20px;
}

.btn-img {
  color: $mainTextColor;
  background: none;
  border: none;
  cursor: pointer;

  &[disabled] {
    color: $mainTextDisabledColor;
  }
}
