<div class="card" [class.collapsed]="collapsible() && isCollapsed()">
  <div class="card-header" [class.cursor-pointer]="collapsible()" (click)="toggleCollapsed()">
    <h3 class="card-title">{{title()}}</h3>
    @if (buttons().length) {
      <div class="buttons">
        @for (button of buttons(); track button) {
          <button class="btn-img" [disabled]="!(button.enabled | toObservable | async)" [title]="button.title | toObservable | async" (click)="button.action($event)">
            <fa-icon [icon]="button.icon" />
          </button>
        }
      </div>
    }
  </div>
  <div class="card-body position-relative">
    <ng-content />
  </div>
</div>
