@import "../../../scss/colors";
@import "../../../scss/breakpoints";

:host {
  min-width: 100%;
  margin-bottom: 15px;
}

.btn-img {
  color: $mainTextColor;
  background: none;
  border: none;
  cursor: pointer;

  &[disabled] {
    color: $mainTextDisabledColor;
  }
}

.card-header h3:has(span) {
  @include mediaMax($small) {
   font-size: 12px;
    line-height: 1.3;
  }
}

fa-icon {
  font-size: 1.3rem;
}
