@import "../../../scss/colors";

ul {
  list-style-type: none;
  display: flex;

  border-bottom: 1px solid $borderColor;
}

li {
  height: 72px;
  display: block;
}

a {
  color: $mainTextColor;
  text-decoration: none;
  height: 100%;
  padding: 0 10px;

  display: flex;
  align-items: center;

  &:hover {
    background: $primaryDarkColor;
    color: $primaryColor;
  }

  span {
    font-variant: small-caps;
    font-size: 18px;
  }

  & > * {
    display: block;
  }
}

.logo {
  padding-right: 20px;

  img {
    margin-right: 20px;
  }

  span {
    font-size: 30px;
  }
}

fa-icon {
  width: 26px;
  height: 26px;
  margin-right: 10px;
}

:host ::ng-deep {
  svg {
    width: 26px;
    height: 26px;
  }
}
