@import "../../../scss/colors";
@import "../../../scss/breakpoints";

:host {
  @include mediaMax($topMenuBreakpoint) {
    position: fixed;
    top: 0;
    left: 0;
    background: $bodyBackground;
    z-index: 100;
    width: 100%;
  }
}

ul {
  list-style-type: none;
  display: flex;
  border-bottom: 1px solid $borderColor;

  @include mediaMax($topMenuBreakpoint) {
    border-bottom: none;
    justify-content: center;
    width: 100%;
  }
}

li {
  height: 72px;
  display: block;

  @include mediaMax($topMenuBreakpoint) {
    height: auto;
    padding: 10px 0;
  }
}

a {
  color: $mainTextColor;
  text-decoration: none;
  height: 100%;
  padding: 0 10px;

  display: flex;
  align-items: center;

  @include mediaMax($topMenuBreakpoint) {
    padding: 0 5px;
  }

  &:hover {
    background: $primaryDarkColor;
    color: $primaryColor;
  }

  span {
    font-variant: small-caps;
    font-size: 18px;

    @include mediaMax($topMenuBreakpoint) {
      font-size: 15px;
    }
  }

  & > * {
    display: block;
  }
}

.logo {
  padding-right: 20px;

  @include mediaMax($topMenuBreakpoint) {
    padding-right: 10px;
  }

  img {
    margin-right: 20px;

    @include mediaMax($topMenuBreakpoint) {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
  }

  span {
    font-size: 30px;

    @include mediaMax($topMenuBreakpoint) {
      font-size: 15px;
    }
  }
}

fa-icon {
  width: 26px;
  height: 26px;
  margin-right: 10px;

  @include mediaMax($topMenuBreakpoint) {
    width: 16px;
    height: 16px;
  }
}

:host ::ng-deep {
  svg {
    width: 26px;
    height: 26px;

    @include mediaMax($topMenuBreakpoint) {
      width: 16px;
      height: 16px;
    }
  }
}
