@import "../../../scss/colors";
@import "../../../scss/breakpoints";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $borderColor;

  @include mediaMax($topMenuBreakpoint) {
    position: fixed;
    top: 0;
    left: 0;
    background: $bodyBackground;
    z-index: 100;
    width: 100%;
  }

  @include mediaMax($small) {
    bottom: 0;
    top: unset;
    background: darken($bodyBackground, 3%);
  }
}

ul {
  list-style-type: none;
  display: flex;
  height: 84px;

  @include mediaMax($topMenuBreakpoint) {
    padding-right: 20px;
  }

  @include mediaMax($small) {
    height: 14vw;
    padding-right: 4vw;
  }
}

li {
  display: block;
  margin: 0;
}

a {
  display: inline-flex;
  align-items: center;
  color: $mainTextColor;
  text-decoration: none;
  height: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;

  @include mediaMax($topMenuBreakpoint3) {
    padding: 0 10px;
  }

  @include mediaMax($small) {
    padding: 0 4vw;
  }

  &:hover {
    background: $bodyBackgroundHover;
  }

  span {
    font-variant: small-caps;
    font-size: 18px;

    @include mediaMax($topMenuBreakpoint3) {
      font-size: 16px;
    }

    @include mediaMax($small) {
      font-size: 0;
    }

    @include mediaMax($topMenuBreakpoint4) {
      display: none;
    }
  }

  & > * {
    display: inline-flex;
  }
}

.logo {
  padding: 10px;

  @include mediaMax($topMenuBreakpoint) {
    justify-content: center;
    margin-left: 5px;
  }

  @include mediaMax($small) {
    padding: 3vw 4vw 3vw 3vw;
    margin-left: 0;
  }

  img {
    margin-right: 20px;

    @include mediaMax($topMenuBreakpoint) {
      width: 30px;
      height: 30px;
    }

    @include mediaMax($small) {
      width: 8vw;
      height: 8vw;
      margin: 0;
    }
  }

  span {
    font-size: 30px;

    @include mediaMax($topMenuBreakpoint) {
      font-size: 24px;
    }

    @include mediaMax($topMenuBreakpoint3) {
      font-size: 18px;
    }

    @include mediaMax($small) {
      display: none;
    }
  }
}

fa-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25px;
  height: 20px;
  margin-right: 10px;

  @include mediaMax($topMenuBreakpoint) {
    width: 16px;
    height: 16px;
  }

  @include mediaMax($small) {
    width: auto;
    height: 6vw;
    margin-right: 0;
  }
}

:host ::ng-deep {
  svg {
    max-height: 20px;
    height: auto;
    align-self: center;

    @include mediaMax($small) {
      max-height: 6vw;
      height: 100%;
    }
  }
}
