@use "sass:math";
@import "../../../scss/colors";
@import "../../../scss/breakpoints";

:host {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.invisible {
  visibility: hidden;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 5px;

  & > div {
    display: inline-flex;
    flex: calc(math.div(100%, 6) - 4.5px) 0 0;
    margin: 0;

    @include mediaMax($large) {
      flex: calc(math.div(100%, 4) - 4.5px) 0 0;
    }

    @include mediaMax($small) {
      flex: calc(math.div(100%, 3) - 4.5px) 0 0;
    }

    img {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: 4px;
    }
  }
}

.modal-content {
  text-align: center;

  .image {
    img {
      width: auto;
      max-width: 100%;
      max-height: 50vh;
      height: auto;
    }
  }

  .generation-parameters {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 100%;

    p {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5px;
      font-size: 14px;

      strong {
        text-align: left;
      }

      &:last-child {
        margin-top: 20px;
      }
    }
  }

  .buttons {
    button {
      margin: 0 4px;

      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.row {
  width: 100%;

  &:nth-of-type(2) {
    order: -1;
  }

  &.wrap {
    flex-wrap: wrap;
  }
}

.btn {
  padding: 10px 15px;
}

.emptyGallery {
  width: 100%;
  min-height: calc(100vh - 125px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 15px !important;
  background: #26252b;
  flex: unset !important;

  @include mediaMax($topMenuBreakpoint) {
    margin-top: -5px !important;
  }

  @include mediaMax($small) {
    min-height: calc(100vh - 22vw);
  }

  p {
    width: 100%;
    color: white;
    background: #26252b;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    margin: 0;
  }
}

.pageSize {
  order: 1;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

  @include mediaMax($small) {
    justify-content: center;
  }

  span {
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.5;
    background: #26252B;
  }
}
