@if (loading()) {
  <app-loader [text]="loaderText()" />
} @else {
  <div class="row wrap">
    @if (pages().length) {
      <div class="pagination">
        @if (currentPage() > 1) {
          <a routerLink="/images?page={{currentPage() - 1}}" (click)="goToPage(currentPage() - 1)">&lt;</a>
        } @else {
          <a [routerLink]="" class="disabled">&lt;</a>
        }
        @for (page of pages(); track page) {
          @if (page === currentPage()) {
            <a [routerLink]="" class="active">{{page}}</a>
          } @else {
            <a routerLink="/images?page={{page}}" (click)="goToPage(page)">{{page}}</a>
          }
        }
        @if (currentPage() < lastPage()) {
          <a routerLink="/images?page={{currentPage() + 1}}" (click)="goToPage(currentPage() + 1)">&gt;</a>
        } @else {
          <a [routerLink]="" class="disabled">&gt;</a>
        }
      </div>
      @if (imagesSize()) {
        <div class="pageSize">
          <span>{{'app.images.size' | transloco:{size: imagesSize()! | formatNumber:2, unit: imagesSizeUnit()!} }}</span>
        </div>
      }
    }
  </div>

  <div class="row">
    <div class="col-md-12 gallery">
      @for (image of currentResults(); track image.id) {
        <div class="cursor-pointer" (click)="openModal(modal)">
          <img src="{{image.link}}" alt="{{'app.generated_image.alt' | transloco}}" />
          <ng-template #modal>
            @if (shareInProgress()) {
              <app-loader [text]="'app.share.temporary.progress' | transloco" />
            }
            <div class="modal-content" [class.invisible]="shareInProgress()">
              <div class="image">
                <a target="_blank" href="{{image.link}}">
                  <img src="{{image.link}}" alt="{{'app.generated_image.alt' | transloco}}" />
                </a>
              </div>
              <div class="generation-parameters">
                <p>{{'app.generate.prompt' | transloco}}: <strong>{{image.prompt}}</strong></p>
                @if (image.negativePrompt) {
                  <p>{{'app.generate.negative_prompt' | transloco}}: <strong>{{image.negativePrompt}}</strong></p>
                }
                <p>{{'app.image.seed' | transloco}}: <strong>{{image.seed}}</strong></p>
                <p>{{'app.generate.model' | transloco}}: <strong>{{image.model}}</strong></p>
                <p>{{'app.generate.sampler' | transloco}}: <strong>{{image.sampler}}</strong></p>
                <p>
                  {{'app.generate.karras' | transloco}}: <strong><app-yes-no [value]="image.karras" /></strong>
                </p>
                <p>
                  @if ($any(image.hiresFix) !== undefined) {
                    {{'app.generate.hires_fix' | transloco}}: <strong><app-yes-no [value]="image.hiresFix" /></strong>
                  }
                </p>
                <p>{{'app.generate.cfg_scale' | transloco}}: <strong>{{image.cfgScale | formatNumber:1}}</strong></p>
                <p>{{'app.generate.denoising_strength' | transloco}}: <strong>{{image.denoisingStrength | formatNumber:2}}</strong></p>
                <p>{{'app.generate.size' | transloco}}: <strong>{{image.width | formatNumber}}x{{image.height | formatNumber}} px</strong></p>
                <p>{{'app.generate.steps' | transloco}}: <strong>{{image.steps | formatNumber}}</strong></p>
                @if (image.clipSkip) {
                  <p>{{'app.generate.clip_skip' | transloco}}: <strong>{{image.clipSkip | formatNumber}}</strong></p>
                }
                @if (image.postProcessors.length) {
                  <p>
                    {{'app.generate.post_processors' | transloco}}: <strong>{{image.postProcessors.join(', ')}}</strong>
                  </p>
                  <p>
                    @if ($any(image.faceFixerStrength) !== undefined && (image.postProcessors.includes(PostProcessor.GFPGAN) || image.postProcessors.includes(PostProcessor.CodeFormers))) {
                      {{'app.generate.face_fixer_strength' | transloco}}: <strong>{{image.faceFixerStrength | formatNumber}}</strong>
                    }
                  </p>
                }
                <p>{{'app.image.worker' | transloco}}: <strong>{{image.worker.name}} ({{image.worker.id}})</strong></p>
                @if (image.loraList && image.loraList.length) {
                  <p>
                    {{'app.generate.lora_list' | transloco}}:
                    <strong>
                    @for (lora of image.loraList; track lora.id) {
                      <app-lora-text-row [lora]="lora" [comma]="!$last" />
                    }
                    </strong>
                  </p>
                }
                @if (image.styleName) {
                  <p>{{'app.generate.style_name' | transloco}}: <strong>{{image.styleName}}</strong></p>
                }
              </div>
              <div class="buttons">
                <button class="btn btn-danger" (click)="deleteImage(image)">{{'app.delete' | transloco}}</button>
                <button class="btn btn-primary" (click)="sendToTxt2Img(image)">{{'app.send.txt2img' | transloco}}</button>
                <button class="btn btn-primary" (click)="download(image)">{{'app.download' | transloco}}</button>
                <button class="btn btn-primary"
                        share-image [image]="image"
                        (uploadStarted)="shareInProgress.set(true)"
                        (uploadFinished)="shareInProgress.set(false)"
                >{{'app.share.temporary' | transloco}}</button>
              </div>
            </div>
          </ng-template>
        </div>
      } @empty {
        <div class="emptyGallery"><p>{{'app.images.no_image' | transloco}}</p></div>
      }
    </div>
  </div>
}
