@if (loading()) {
  <app-loader />
} @else {
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 text-center pagination">
      @if (currentPage() > 1) {
        <a routerLink="/images?page={{currentPage() - 1}}" (click)="goToPage(currentPage() - 1)">&lt;</a>
      } @else {
        <a [routerLink]="" class="disabled">&lt;</a>
      }
      @for (page of pages(); track page) {
        @if (page === currentPage()) {
          <a [routerLink]="" class="active">{{page}}</a>
        } @else {
          <a routerLink="/images?page={{page}}" (click)="goToPage(page)">{{page}}</a>
        }
      }
      @if (currentPage() < lastPage()) {
        <a routerLink="/images?page={{currentPage() + 1}}" (click)="goToPage(currentPage() + 1)">&gt;</a>
      } @else {
        <a [routerLink]="" class="disabled">&gt;</a>
      }
    </div>
    <div class="col-md-1 text-right">
      @if (imagesSize()) {
        <small>{{'app.images.size' | transloco:{size: imagesSize()! | formatNumber:2, unit: imagesSizeUnit()!} }}</small>
      }
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 gallery">
      @for (image of currentResults(); track image.id) {
        <div class="cursor-pointer" (click)="openModal(modal)">
          <img src="{{image.link}}" alt="{{'app.generated_image.alt' | transloco}}" />
          <ng-template #modal>
            <div class="modal-content">
              <div class="image">
                <a target="_blank" href="{{image.link}}">
                  <img src="{{image.link}}" alt="{{'app.generated_image.alt' | transloco}}" />
                </a>
              </div>
              <div class="generation-parameters">
                <p>{{'app.generate.prompt' | transloco}}: <strong>{{image.prompt}}</strong></p>
                @if (image.negativePrompt) {
                  <p>{{'app.generate.negative_prompt' | transloco}}: <strong>{{image.negativePrompt}}</strong></p>
                }
                <p>{{'app.image.seed' | transloco}}: <strong>{{image.seed}}</strong></p>
                <p>{{'app.generate.model' | transloco}}: <strong>{{image.model}}</strong></p>
                <p>{{'app.generate.sampler' | transloco}}: <strong>{{image.sampler}}</strong></p>
                <p>
                  {{'app.generate.karras' | transloco}}: <strong><app-yes-no [value]="image.karras" /></strong>
                  @if ($any(image.hiresFix) !== undefined) {
                    {{'app.generate.hires_fix' | transloco}}: <strong><app-yes-no [value]="image.hiresFix" /></strong>
                  }
                </p>
                <p>{{'app.generate.cfg_scale' | transloco}}: <strong>{{image.cfgScale | formatNumber:1}}</strong></p>
                <p>{{'app.generate.denoising_strength' | transloco}}: <strong>{{image.denoisingStrength | formatNumber:2}}</strong></p>
                <p>{{'app.generate.size' | transloco}}: <strong>{{image.width | formatNumber}}x{{image.height | formatNumber}} px</strong></p>
                <p>{{'app.generate.steps' | transloco}}: <strong>{{image.steps | formatNumber}}</strong></p>
                @if (image.clipSkip) {
                  <p>{{'app.generate.clip_skip' | transloco}}: <strong>{{image.clipSkip | formatNumber}}</strong></p>
                }
                @if (image.postProcessors.length) {
                  <p>
                    {{'app.generate.post_processors' | transloco}}: <strong>{{image.postProcessors.join(', ')}}</strong>
                    @if ($any(image.faceFixerStrength) !== undefined && (image.postProcessors.includes(PostProcessor.GFPGAN) || image.postProcessors.includes(PostProcessor.CodeFormers))) {
                      {{'app.generate.face_fixer_strength' | transloco}}: <strong>{{image.faceFixerStrength | formatNumber}}</strong>
                    }
                  </p>
                }
                <p>{{'app.image.worker' | transloco}}: <strong>{{image.worker.name}} ({{image.worker.id}})</strong></p>
              </div>
              <div class="buttons">
                <button class="btn btn-danger" (click)="deleteImage(image)">{{'app.delete' | transloco}}</button>
                <button class="btn btn-primary" (click)="sendToTxt2Img(image)">{{'app.send.txt2img' | transloco}}</button>
              </div>
            </div>
          </ng-template>
        </div>
      }
    </div>
  </div>
}
