@use "sass:math";
@import "../../../scss/colors";
@import "../../../scss/breakpoints";

:host {
 min-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.pagination {
  margin: 20px 0;

  a {
    text-decoration: none;
    color: $mainTextColor;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;

    &.disabled {
      color: $mainTextDisabledColor;
      cursor: not-allowed;
    }

    &.active, &:hover {
      color: $primaryColor;
    }
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 5px;

  & > div {
    display: inline-flex;
    flex: calc(math.div(100%, 6) - 4.5px) 0 0;
    margin: 0;

    @include mediaMax($large) {
      flex: calc(math.div(100%, 4) - 4.5px) 0 0;
    }

    @include mediaMax($small) {
      flex: calc(math.div(100%, 3) - 4.5px) 0 0;
    }

    img {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }
}

.modal-content {
  text-align: center;

  .image {
    img {
      width: auto;
      height: 50vh;
    }
  }

  .generation-parameters {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 100%;

    p {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5px;
      font-size: 14px;

      strong {
        text-align: left;
      }

      &:last-child {
        margin-top: 20px;
      }
    }
  }

  .buttons {
    button {
      margin: 0 4px;

      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.row {
  width: 100%;

  &:nth-of-type(2) {
    order: -1;
  }
}

.btn {
  padding: 10px 15px;
}
