@import "../../../scss/colors";
@import "../../../scss/breakpoints";

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 48px;
  height: 26px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;

  @include mediaMax($small) {
    width: 38px;
    height: 22px;
  }

  &:before,
  &:after {
    content: "";
  }

  &:before {
    display: block;
    background: linear-gradient(to bottom, $mainTextColor 0%, lighten($mainTextColor, 10%) 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(red($shadowColor), green($shadowColor), blue($shadowColor), 0.15);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: left 0.25s;

    @include mediaMax($small) {
      width: 16px;
      height: 16px;
    }
  }

  .toggle:hover &:before {
    background: linear-gradient(to bottom, $mainTextColor 0%, $mainTextColor 100%);
  }

  &.disabled {
    .toggle:hover &:before {
      background: gray;
    }
    &:before {
      background: gray;
    }
  }

  .toggle-checkbox:checked + & {
    background: $successColor;
    &.disabled {
      background: darken($successColor, 30%);
    }

    &:before {
      left: 24px;

      @include mediaMax($small) {
        left: 18px;
      }
    }
  }
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
  font-size: 14px;
  margin-right: 4px;

  @include mediaMax($small) {
    margin-left: 8px;
  }
}
