<app-box [collapsible]="true" [title]="'app.shared_keys' | transloco" class="position-relative" #box>
  @if ((sharedKeyDetails() === null || loading()) && !box.isCollapsed()) {
    <app-loader />
  } @else {
    @for (sharedKey of sharedKeyDetails(); track sharedKey.id) {
      <app-box [collapsible]="true" [title]="sharedKey.name" class="shared-key-box">
        <table class="table key-value">
          <tr>
            <td>{{'app.shared_key.key' | transloco}}</td>
            <td>
              {{sharedKey.id}}
              <app-copy-button class="ml-1" [text]="sharedKey.id" />
            </td>
          </tr>
          <tr>
            <td>{{'app.shared_key.owner' | transloco}}</td>
            <td>
              {{sharedKey.username}}
              @if (sharedKey.username === currentUser().username) {
                <small>
                  ({{'app.shared_key.owner.you' | transloco}})
                </small>
              }
            </td>
          </tr>
          <tr>
            <td>{{'app.shared_key.kudos_budget' | transloco}}</td>
            <td>
              @if (sharedKey.kudos + sharedKey.utilized > -1) {
                {{sharedKey.kudos + sharedKey.utilized | formatNumber}}
              } @else {
                <code>{{'app.not_applicable' | transloco}}</code>
              }
            </td>
          </tr>
          @if (sharedKey.kudos + sharedKey.utilized > -1) {
            <tr>
              <td class="font-weight-normal">{{'app.shared_key.kudos_remaining' | transloco}}</td>
              <td>
                {{sharedKey.kudos | formatNumber}}
                <small>
                  ({{(sharedKey.kudos / (sharedKey.kudos + sharedKey.utilized)) * 100 | formatNumber:2}}%)
                </small>
              </td>
            </tr>
            <tr>
              <td class="font-weight-normal">{{'app.shared_key.kudos_used' | transloco}}</td>
              <td>
                {{sharedKey.utilized | formatNumber}}
                <small>
                  ({{(sharedKey.utilized / (sharedKey.kudos + sharedKey.utilized)) * 100 | formatNumber:2}}%)
                </small>
              </td>
            </tr>
          }
          <tr>
            <td>{{'app.shared_key.expires' | transloco}}</td>
            <td>
              @if (sharedKey.expiry === undefined) {
                <code>{{'app.not_applicable' | transloco}}</code>
              } @else {
                {{sharedKey.expiry | formatDatetime}}
              }
            </td>
          </tr>
          <tr>
            <td>{{'app.shared_key.max_image_pixels' | transloco}}</td>
            <td>
              @if (sharedKey.max_image_pixels >= 0) {
                {{sharedKey.max_image_pixels | formatNumber}}
              } @else {
                <code>{{'app.not_applicable' | transloco}}</code>
              }
            </td>
          </tr>
          <tr>
            <td>{{'app.shared_key.max_image_steps' | transloco}}</td>
            <td>
              @if (sharedKey.max_image_steps >= 0) {
                {{sharedKey.max_image_steps | formatNumber}}
              } @else {
                <code>{{'app.not_applicable' | transloco}}</code>
              }
            </td>
          </tr>
          <!--                  <tr>-->
          <!--                    <td>{{'app.shared_key.max_text_tokens' | transloco}}</td>-->
          <!--                    <td>-->
          <!--                      @if (sharedKey.max_text_tokens >= 0) {-->
          <!--                        {{sharedKey.max_text_tokens | formatNumber}}-->
          <!--                      } @else {-->
          <!--                        <code>{{'app.not_applicable' | transloco}}</code>-->
          <!--                      }-->
          <!--                    </td>-->
          <!--                  </tr>-->
        </table>
        <button class="btn btn-danger mt-1" (click)="removeSharedKey(sharedKey)">
          <fa-icon [icon]="removeIcon()" />
          {{'app.delete' | transloco}}
        </button>
      </app-box>
    } @empty {
      <p>{{'app.shared_keys.no_key' | transloco}}</p>
    }
  }

  <div class="row mt-1">
    <button class="btn btn-primary mr-05" (click)="openModal(createKeyModal)">{{'app.shared_keys.create' | transloco}}</button>
  </div>
</app-box>

<ng-template #createKeyModal>
  <div class="row create-key-row">
    <div class="col-md-12">
      <form [formGroup]="createSharedKeyForm" (ngSubmit)="createSharedKey()">
        <div class="form-group">
          <label for="inputSharedKeyName">{{'app.shared_keys.create.name' | transloco}}</label>
          <input type="text" class="form-control" formControlName="name" id="inputSharedKeyName" />
        </div>
        <div class="form-group">
          <label for="inputSharedKeyKudosLimit">{{'app.shared_keys.create.kudos_limit' | transloco}}</label>
          <input type="number" min="-1" class="form-control" formControlName="kudosLimit" id="inputSharedKeyKudosLimit" />
          <small>{{'app.shared_keys.create.minus_one_unlimited' | transloco}}</small>
        </div>
        <div class="form-group">
          <label for="inputSharedKeyExpiry">{{'app.shared_keys.create.expiry' | transloco}}</label>
          <input type="number" min="-1" class="form-control" formControlName="expiry" id="inputSharedKeyExpiry" />
          <small>{{'app.shared_keys.create.minus_one_unlimited' | transloco}}</small>
        </div>
        <div class="form-group">
          <label for="inputSharedKeyMaxImagePixels">{{'app.shared_keys.create.max_image_pixels' | transloco}}</label>
          <input type="number" [step]="createSharedKeyForm.controls.maxImagePixels.value! < 0 ? 1 : 64" max="4194304" class="form-control" formControlName="maxImagePixels" id="inputSharedKeyMaxImagePixels" />
          <small>{{'app.shared_keys.create.minus_one_unlimited' | transloco}}</small>
        </div>
        <div class="form-group">
          <label for="inputSharedKeyMaxImageSteps">{{'app.shared_keys.create.max_image_steps' | transloco}}</label>
          <input type="number" min="-1" max="500" class="form-control" formControlName="expiry" id="inputSharedKeyMaxImageSteps" />
          <small>{{'app.shared_keys.create.minus_one_unlimited' | transloco}}</small>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!createSharedKeyForm.valid">{{'app.shared_keys.create.create' | transloco}}</button>
      </form>
    </div>
  </div>
</ng-template>
