<p>
  <transloco key="app.about.intro" />
</p>

<h2><transloco key="app.about.features" /></h2>
<ul class="mb-2 mt-1">
  <li><transloco key="app.about.features.generate_images" /></li>
  <li><transloco key="app.about.features.anonymous" /></li>
  <li><transloco key="app.about.features.local_storage" /></li>
  <li><transloco key="app.about.features.s3_storage" /></li>
  <li><transloco key="app.about.features.google_drive" /></li>
  <li><transloco key="app.about.features.categorized_models" /></li>
  <li><transloco key="app.about.features.styles" /></li>
  <li><transloco key="app.about.features.more" /></li>
</ul>

<p>
  <transloco key="app.about.author" [params]="{author: 'Rikudou', url: 'https://github.com/RikudouSage/'}" />
</p>

<p>
  <transloco key="app.about.logo" [params]="{logoLink: '/assets/logo-original.png'}" />
</p>
