@import "../scss/breakpoints";

:host {
  min-width: 100%;
  min-height: 100%;
}

#wrapper {
  max-width: 1536px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 3vw 3vh;

  @include mediaMax($topMenuBreakpoint) {
    padding-top: 3vh;
  }

  @include mediaMax($small) {
    padding-top: 0;
    padding-bottom: 9vh;
  }
}

.spacer {
  height: 30px;
}
