@import "../scss/breakpoints";

:host {
  min-width: 100%;
  min-height: 100%;
}

#wrapper {
  max-width: 1536px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @include mediaMax($small) {
    padding: 4vw 4vw 18vw 4vw;
  }
}
