app-small-box {
  margin-right: 15px;
  &:last-of-type {
    margin-right: 0;
  }
}

.create-key-row {
  min-width: 20vw;
}

.shared-key-box {
  display: block;
  margin-top: 8px;

  &:first-of-type {
    margin-top: 0;
  }
}
