@import "../../../scss/colors";
@import "../../../scss/breakpoints";


app-small-box {
  @include mediaMax($large) {
   flex-grow: 1;
  }
}

.create-key-row {
  min-width: 20vw;
}

.shared-key-box {
  display: block;
  margin-top: 8px;

  &:first-of-type {
    margin-top: 0;
  }
}

h1 {
  margin: 50px 0;
}

.smallBoxGap {
  gap: 15px;

  @include mediaMax($large) {
    flex-wrap: wrap;
  }
}

.row {
  gap: 15px;
  margin-bottom: 15px;

  @include mediaMax($large) {
    flex-wrap: wrap;
  }

  .col-md-6 {
    @include mediaMax($large) {
      width: 100%;
      flex-basis: unset;
    }
  }
}
