@if (loading()) {
  <app-loader />
} @else {
  <div class="row">
    <div class="col-md-12 text-center">
      <h1><transloco key="app.logged_in_as" [params]="{username: currentUser()!.username}" /></h1>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12 flex flex-justify-content-center">
      <app-small-box [title]="'app.kudos' | transloco" color="#67c23a" [icon]="kudosIcon()">
        {{currentUser()!.kudos | formatNumber}}
      </app-small-box>
      <app-small-box [title]="'app.requested' | transloco" color="#f56c6c" [icon]="requestedIcon()">
        {{currentUser()!.records.request.image | formatNumber}}
      </app-small-box>
      <app-small-box [title]="'app.generated' | transloco" color="#409eff" [icon]="generatedIcon()">
        {{currentUser()!.records.fulfillment.image | formatNumber}}
      </app-small-box>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-6 mr-1">
      <app-box [title]="'app.horde.status' | transloco">
        <p>
          <transloco key="app.horde.stats" [params]="{
            requests: performanceStatus()!.queued_requests | formatNumber,
            mps: performanceStatus()!.queued_megapixelsteps | formatNumber:2,
            workers: performanceStatus()!.worker_count | formatNumber,
            threads: performanceStatus()!.thread_count | formatNumber,
          }" />
        </p>
        <p>
          <transloco key="app.horde.stats_minute" [params]="{mps: performanceStatus()!.past_minute_megapixelsteps | formatNumber}"/>
        </p>
      </app-box>
    </div>
    <div class="col-md-6">
      <app-box [title]="'app.workers.yours' | transloco">
        @for (worker of workers(); track worker.id) {
          <app-box title="{{worker.name}} ({{worker.online ? ('app.worker.online' | transloco) : ('app.worker.offline' | transloco)}})" [collapsible]="true" [collapsedByDefault]="true">
            <table class="table key-value">
              <tr>
                <td>{{'app.worker.type' | transloco}}</td>
                <td>{{worker.type}}</td>
              </tr>
              <tr>
                <td>{{'app.worker.online' | transloco}}</td>
                <td><app-yes-no [value]="worker.online" /></td>
              </tr>
              <tr>
                <td>{{'app.worker.maintenance_mode' | transloco}}</td>
                <td><app-yes-no [value]="worker.maintenance_mode" /></td>
              </tr>
              <tr>
                <td>{{'app.worker.paused' | transloco}}</td>
                <td><app-yes-no [value]="worker.paused" /></td>
              </tr>
              <tr>
                <td>{{'app.worker.requests_fulfilled' | transloco}}</td>
                <td>{{worker.requests_fulfilled | formatNumber}}</td>
              </tr>
              <tr>
                <td>{{'app.worker.kudos_earned' | transloco}}</td>
                <td>{{worker.kudos_rewards | formatNumber}}</td>
              </tr>
              <tr>
                <td class="font-weight-normal">{{'app.worker.kudos_generated' | transloco}}</td>
                <td>{{worker.kudos_details.generated | formatNumber}}</td>
              </tr>
              <tr>
                <td class="font-weight-normal">{{'app.worker.kudos_uptime' | transloco}}</td>
                <td>{{worker.kudos_details.uptime | formatNumber}}</td>
              </tr>
              <tr>
                <td>{{'app.worker.threads' | transloco}}</td>
                <td>{{worker.threads | formatNumber}}</td>
              </tr>
              <tr>
                <td>{{'app.worker.uptime' | transloco}}</td>
                <td>{{worker.uptime | printSeconds | async}}</td>
              </tr>
              @if (worker.type === WorkerType.image) {
                <tr>
                  <td>{{'app.worker.image_size' | transloco}}</td>
                  <td>
                    {{'app.unit.px' | transloco:{value: worker.max_pixels | formatNumber} }}
                    ({{worker.max_pixels | mathSqrt | formatNumber}}x{{worker.max_pixels | mathSqrt | formatNumber}})
                  </td>
                </tr>
                <tr>
                  <td>{{'app.worker.mps_generated' | transloco}}</td>
                  <td>{{'app.unit.mps' | transloco:{value: worker.megapixelsteps_generated | formatNumber} }}</td>
                </tr>
                <tr>
                  <td>{{'app.worker.nsfw' | transloco}}</td>
                  <td><app-yes-no [value]="worker.nsfw" /></td>
                </tr>
                <tr>
                  <td>{{'app.worker.img2img' | transloco}}</td>
                  <td><app-yes-no [value]="worker.img2img" /></td>
                </tr>
                <tr>
                  <td>{{'app.worker.painting' | transloco}}</td>
                  <td><app-yes-no [value]="worker.painting" /></td>
                </tr>
                <tr>
                  <td>{{'app.worker.post_processing' | transloco}}</td>
                  <td><app-yes-no [value]="worker['post-processing']" /></td>
                </tr>
                <tr>
                  <td>{{'app.worker.lora' | transloco}}</td>
                  <td><app-yes-no [value]="worker.lora" /></td>
                </tr>
                <tr>
                  <td>{{'app.worker.models' | transloco}}</td>
                  <td>
                    <ul>
                      @for (model of worker.models; track model) {
                        <li>{{model}}</li>
                      } @empty {
                        <li>{{'app.worker.no_models' | transloco}}</li>
                      }
                    </ul>
                  </td>
                </tr>
              } @else if (worker.type === WorkerType.text) {
                <tr>
                  <td>{{'app.worker.max_length' | transloco}}</td>
                  <td>{{worker.max_length | formatNumber}}</td>
                </tr>
                <tr>
                  <td>{{'app.worker.max_context_length' | transloco}}</td>
                  <td>{{worker.max_context_length | formatNumber}}</td>
                </tr> <tr>
                  <td>{{'app.worker.tokens_generated' | transloco}}</td>
                  <td>{{worker.tokens_generated | formatNumber}}</td>
                </tr>
              }
            </table>
          </app-box>
        } @empty {
          <p>{{'app.workers.no_workers' | transloco}}</p>
        }
      </app-box>
    </div>
  </div>
}
