@import "../../../scss/colors";
@import "../../../scss/breakpoints";

:host {
  min-width: 200px;
  min-height: 200px;
  display: block;
}

.img {
  overflow: hidden;
  flex-basis: 25%;

  img {
    width: 100%;
    max-height: 20vh;
    object-fit: cover;
  }
}

.model {
  flex-basis: 75%;
}

.lora-row {
  border: 1px solid $borderColor;
  padding: 8px;
}

.bottom-row {
  * {
    margin-right: 8px;
  }
}

.loader-wrapper {
  height: 4vh;
  margin: 1vh 0;
}

.pagination {
  a {
    text-decoration: none;
    color: $mainTextColor;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;

    &.disabled {
      color: $mainTextDisabledColor;
      cursor: not-allowed;
    }

    &.active, &:hover {
      color: $primaryColor;
    }
  }
}

.loraModal {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  .form-group {
    &:nth-child(1) {
      width: 100%;
      min-width: 895px;

      @include mediaMax($large) {
        min-width: unset;
      }
    }

    &:nth-child(2) {
      width: calc(100% - 170px);

      @include mediaMax($small) {
        width: 100%;
      }
    }

    &:nth-child(3) {
      width: 150px;
      padding: 0;
      background: transparent;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      align-items: center;
      height: 80px;

      @include mediaMax($small) {
        width: 100%;
        flex-flow: unset;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }
    }

    .btnBig {
      width: 100%;
      margin-top: 5px;

      @include mediaMax($small) {
        margin-top: 0;
      }
    }
  }
}

.loraItem {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 4px;
  background: #26252B;
  overflow: hidden;
  margin-bottom: 15px;
}

.loraModel {
  width: calc(100% - 200px);
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  @include mediaMax($medium) {
    width: calc(100% - 100px);
  }

  @include mediaMax($small) {
    width: 100%;
  }

  h3 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
  }

  .form-group {
    padding: 20px 0 0 0;
    margin-bottom: 0;
  }
}

.loraImg {
  width: 200px;

  @include mediaMax($medium) {
    width: 100px;
  }

  @include mediaMax($small) {
    width: 100%;
  }

  a {
    display: flex;
  }

  img {
    width: 100%;
    height: 100%;
    align-self: center;
    object-fit: cover;
  }
}

.loraModel--desc {
  margin: 20px 0;
  font-size: 14px;

  .text-warning {
    font-size: 12px;
    margin: 5px 0 0 0;
  }
}

.loraModel--bottom {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;

  @include mediaMax($small) {
    justify-content: space-between;
  }

  .btnBig {
    margin-left: 20px;
  }

  a {
    font-size: 14px;
  }
}

.hr {
  width: 100%;
  display: block;
  background: #26252B;
  height: 4px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
}
