:host {
  position: relative;
  width: 100%;
  display: block;
}

.create-key-row {
  min-width: 20vw;
}

.shared-key-box {
  display: block;
  margin-top: 8px;

  &:first-of-type {
    margin-top: 0;
  }
}

.flex-end {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

td {
  position: relative;

  app-copy-button {
    position: absolute;
    top: 8px;
    right: -8px;
  }

  &.shared {
    padding-right: 30px;
  }
}
