* {
  padding: 0;
  margin: 0;
}

body {
  background: #1c1b22;
  color: rgb(251, 251, 254);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
}
