@import 'ngx-toastr/toastr';
@import 'tom-select/dist/scss/tom-select.default.scss';

@import "scss/colors";

@import "scss/forms";
@import "scss/cols";
@import "scss/table";
@import "scss/animations";
@import "scss/breakpoints";
@import "scss/card";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $bodyBackground;
  color: $mainTextColor;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
  overflow-x: hidden;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
}

a {
  color: $primaryColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

h1, h2, h3 {
  font-weight: normal;
}

.cursor-pointer {
  cursor: pointer;
}

.font-weight-normal {
  font-weight: normal !important;
}

li {
  margin-left: 15px;
}

.position-relative {
  position: relative;
}

.text-danger {
  color: $dangerColor;

  a {
    font-weight: bold;
    text-decoration: underline;
    color: $dangerColor;

    &:hover {
      text-decoration: none;
    }
  }
}

.text-warning {
  color: $warningColor;
}

.text-primary {
  color: $primaryColor;
}

.display-block {
  display: block;
}

.text-bold {
  font-weight: bold;
}
