$topMenuBreakpoint: 880px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extraLarge: 1200px;
$extraExtraLarge: 1400px;

@mixin mediaMin($minWidth) {
  @media screen and (min-width: $minWidth) {
    @content
  }
}

@mixin mediaMax($maxWidth) {
  @media screen and (max-width: $maxWidth - 1) {
    @content
  }
}
