.form-group {
  margin-bottom: 30px;

  & > * {
    display: block;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-control {
  width: 100%;
  color: #cfd3dc;
  height: 40px;
  line-height: 40px;
  background: #1c1b22;
  padding: 5px 15px;
  border: 1px solid #4c4d4f;
  border-radius: 5px;
  transition: border-color 0.2s ease-in-out;

  &:hover, &:focus {
    border-color: #409eff;
  }
}

.btn {
  background: #3375b9;
  border: none;
  color: white;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 2px;
  cursor: pointer;

  &[disabled] {
    background: #4c4d4f;
    cursor: not-allowed;
    color: #999;
  }
}

.btn-long {
  display: block;
  width: 100%;
}

label:has(+ [required]) {
  &:after {
    padding-left: 3px;
    content: '*';
    color: red;
  }
}
