@import "colors";

.form-group {
  margin-bottom: 30px;

  & > * {
    display: block;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-control {
  width: 100%;
  color: $mainTextColor;
  height: 40px;
  line-height: 40px;
  background: $bodyBackground;
  padding: 5px 15px;
  border: 1px solid $borderColor;
  border-radius: 5px;
  transition: border-color 0.2s ease-in-out;
  font-size: 14px;

  &:hover, &:focus {
    border-color: $primaryColor;
  }
}

.btn {
  border: none;
  color: $bodyBackground;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 2px;
  cursor: pointer;

  &[disabled] {
    background: $borderColor;
    cursor: not-allowed;
    color: $mainTextDisabledColor;
  }
}

.btn-primary {
  background: $primaryColor;
  color: $mainTextColor;
}

.btn-danger {
  background: $dangerColor;
  color: $mainTextColor;
}

.btn-long {
  display: block;
  width: 100%;
}

label:has(+ [required]), label.required {
  &:after {
    padding-left: 3px;
    content: '*';
    color: $dangerColor;
  }
}

label {
  font-weight: bold;
}

textarea {
  font-family: inherit;

  &.form-control {
    line-height: 1.5;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
