.table {
  width: 100%;

  &.key-value {
    td:first-child {
      font-weight: bold;
    }
  }

  td {
    padding: 10px;
    vertical-align: middle;
    font-size: 14px;
  }

  tr {
    &:nth-child(odd) {
     background: #26252B;
    }
  }
}
