@import "../../../../../scss/colors";
@import "../../../../../scss/breakpoints";

:host {
  min-width: 200px;
  min-height: 200px;
  display: block;
}

.img {
  overflow: hidden;
  flex-basis: 25%;

  img {
    width: 100%;
    max-height: 20vh;
    object-fit: cover;
  }
}

.model {
  flex-basis: 75%;
}

.lora-row {
  border: 1px solid $borderColor;
  padding: 8px;
}

.bottom-row {
  * {
    margin-right: 8px;
  }
}

.loader-wrapper {
  height: 4vh;
  margin: 1vh 0;
}
